.footer {
  background: #1C283A;
  padding: 50px 0;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .copyright-symbol {
    font-size: 20px;
  }

  &__company {
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 39%;

    a {
      font-size: 16px;
      line-height: 25px;
      color: #FFFFFF;
      transition: all .3s;

      &:hover {
        color: #A5B4C4;
      }
    }
  }
  &__socials {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 12%;
    svg {
      width: 26px;
      height: 26px;
    }
  }


  &__socials-link {
    &:hover .socials-bg {
      fill: #00C9FF;
    }
  }

}
