
.header {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
  }

  &__logo img {
    width: 85%;
    height: 85%;
  }

  .burger-btn {
    display: none;
  }

  &__nav {
    width: 58%;

    .nav__list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      &-item:not(:last-child) {
        padding-right: 15px;
      }

      a {
        text-transform: uppercase;
        color: $primary;
        font-size: 23px;
        line-height: 34px;
        cursor: pointer;
        transition: all .3s;

        &:hover {
          color: $secondary;
        }
      }
    }
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    width: 125px;
    position: relative;

    .search-btn {
      border: none;
      background: none;
      cursor: pointer;
    }

  }

  .lang-switch {
    .choices {
      width: 65px;
      z-index: 999;
    }

    .choices__placeholder {
      opacity: 1;
    }

    .choices__inner {
      border: none;
      @include mudkty-regular;
      font-size: 23px;
      line-height: 34px;
      color: #000000;
      background-color: transparent;
    }

    .choices__list--dropdown .choices__item--selectable, .choices__list[aria-expanded] .choices__item--selectable {
      padding-right: 0;
    }

    .choices__list--single {
      padding: 4px 16px 4px 0;
    }



    .choices__list--dropdown .choices__item--selectable.is-highlighted, .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
      background-color: #F8F8FA;
      color: #00B7F1;
    }

    .choices__list--dropdown, .choices__list[aria-expanded] {
      border: 1px solid #F2F1F7;
      filter: drop-shadow(0px 0px 20px rgba(10, 35, 91, 0.15));
      margin-top: 10px;
      top: 76%;

    }
  }


  .search-menu {
    position: fixed;
    top: 0;
    z-index: 999999;
    background: #FFFFFF;
    width: 53%;
    height: 100%;
    right: -100%;
    transition: right 0.3s ease 0s;
    padding: 143px 105px 20px 77px;
    overflow: auto;

    .close-btn {
      position: absolute;
      height: 40px;
      width: 40px;
      right: 112px;
      top: 83px;
      border: none;
      background: none;
      cursor: pointer;
      padding: 0;
    }

    &._active {
      right: 0;
    }

    &__input {
      width: 100%;
      border: none;
      background: none;
      @include montserrat-medium;
      font-size: 28px;
      line-height: 34px;
      color: $primary;
      padding: 20px 10px;
      outline: none;
      border-bottom: 1px solid #A5B4C4;
      transition: all .1s;
      margin-bottom: 84px;

      &:focus {
        border-bottom: 1px solid $secondary;
      }

    }

    &__results {
      @include montserrat-regular;
      font-size: 17px;
      line-height: 21px;
      color: #A5B4C4;
      margin-bottom: 25px;
    }

    .search-list {
      &__item {
        margin-bottom: 28px;
      }

      &__title-link {
        display: block;
        color: $secondary;
      }

      &__remote-link {
        font-size: 18px;
        line-height: 26px;
        color: #A5B4C4;
      }
    }
  }
}
