
.header {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 58px 0;
  }

  &__logo img {
    width: 85%;
    height: 85%;
  }

  .burger-btn {
    display: none;
  }

  &__nav {
    width: 58%;

    .nav__list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      &-item:not(:last-child) {
        padding-right: 15px;
      }

      a {
        text-transform: uppercase;
        color: $primary;
        font-size: 23px;
        line-height: 34px;
        cursor: pointer;
        transition: all .3s;

        &:hover {
          color: $secondary;
        }
      }
    }
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    width: 100px;
    position: relative;

    .search-btn {
      border: none;
      background: none;
      cursor: pointer;
    }
  }


  .search-menu {
    position: fixed;
    top: 0;
    z-index: 999999;
    background: #FFFFFF;
    width: 53%;
    height: 100%;
    right: -100%;
    transition: right 0.3s ease 0s;
    padding: 143px 105px 20px 77px;
    overflow: auto;

    .close-btn {
      position: absolute;
      height: 40px;
      width: 40px;
      right: 112px;
      top: 83px;
      border: none;
      background: none;
      cursor: pointer;
      padding: 0;
    }

    &._active {
      right: 0;
    }

    &__input {
      width: 100%;
      border: none;
      background: none;
      @include montserrat-medium;
      font-size: 28px;
      line-height: 34px;
      color: $primary;
      padding: 20px 10px;
      outline: none;
      border-bottom: 1px solid #A5B4C4;
      transition: all .1s;
      margin-bottom: 84px;

      &:focus {
        border-bottom: 1px solid $secondary;
      }

    }

    &__results {
      color: #A5B4C4;
      margin-bottom: 25px;
    }

    .search-list {
      &__item {
        margin-bottom: 28px;
      }

      &__title-link {
        display: block;
        color: $secondary;
      }

      &__remote-link {
        color: #A5B4C4;
      }
    }
  }
}
