.error404 {
  padding: 284px 0 320px;
  @media (max-width: 1024px) {
    padding: 150px 0 170px;
  }
  @media (max-width: 768px) {
    padding: 100px 0 120px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    @include mudkty-regular;
    font-size: 240px;
    line-height: 350px;
    text-align: center;
    color: #E4E8ED;
    margin-bottom: -5px;

    @media (max-width: 1280px) {
      margin-bottom: -23px;
    }

    @media (max-width: 1024px) {
      margin-bottom: -36px;
    }

    @media (max-width: 768px) {
      margin-bottom: 7px;
    }

    @media (max-width: 768px) {
      font-size: 150px;
      line-height: 200px;
    }

    .error404__title-0 {
      background: linear-gradient(98.5deg, #E4E8ED 50.46%, #D8E7EF 90.87%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .error404__title-4 {
      background: radial-gradient(72.29% 23.14% at 78.31% 58.36%, #99E1FA 0%, #CDE5EF 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__not-found {
    color: #1C283A;
    text-align: center;
    margin-bottom: 36px;
    @media (max-width: 1280px) {
      margin-bottom: 20px;
    }
    @media (max-width: 1024px) {
      margin-bottom: 16px;
    }
  }

  &__desc {
    color: #1C283A;
    text-align: center;
    margin-bottom: 50px;

    @media (max-width: 1280px) {
      margin-bottom: 34px;
    }
    @media (max-width: 1024px) {
      margin-bottom: 30px;
    }

  }

  &__btn {
    color: #00B7F1;
    position: relative;
    transition: all .3s;
    padding-right: 60px;
    svg {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }


}

.error403 {
  padding: 284px 0 320px;
  @media (max-width: 1024px) {
    padding: 150px 0 170px;
  }
  @media (max-width: 768px) {
    padding: 100px 0 120px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    @include mudkty-regular;
    font-size: 240px;
    line-height: 350px;
    text-align: center;
    color: #E4E8ED;
    margin-bottom: -5px;

    @media (max-width: 1280px) {
      margin-bottom: -23px;
    }

    @media (max-width: 1024px) {
      margin-bottom: -36px;
    }

    @media (max-width: 768px) {
      margin-bottom: 7px;
    }

    @media (max-width: 768px) {
      font-size: 150px;
      line-height: 200px;
    }

    .error403__title-0 {
      background: linear-gradient(98.5deg, #E4E8ED 50.46%, #D8E7EF 90.87%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .error403__title-4 {
      background: radial-gradient(72.29% 23.14% at 78.31% 58.36%, #99E1FA 0%, #CDE5EF 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__not-found {
    color: #1C283A;
    text-align: center;
    margin-bottom: 36px;
    @media (max-width: 1280px) {
      margin-bottom: 20px;
    }
    @media (max-width: 1024px) {
      margin-bottom: 16px;
    }
  }

  &__desc {
    color: #1C283A;
    text-align: center;
    margin-bottom: 50px;

    @media (max-width: 1280px) {
      margin-bottom: 34px;
    }
    @media (max-width: 1024px) {
      margin-bottom: 30px;
    }

  }

  &__btn {
    color: #00B7F1;
    position: relative;
    transition: all .3s;
    padding-right: 60px;
    svg {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }


}
