.articles-body {
  background: #F5F5F5;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: -51%;
    top: -23%;
    background: radial-gradient(50% 50% at 50% 50%, rgba(#00B7F1, 0.5) 0%, rgba(255, 255, 255, 0) 100%) no-repeat;
    background-size: cover;
    width: 100%;
    height: 1555px;
  }
}

.articles-page {
  padding: 108px 0 50px;


  &__inner {
    display: flex;
  }

  &__title {
    margin-right: 100px;
  }

  &__top {
    display: flex;
    margin-bottom: 80px;
    align-items: flex-start;

    p {
      max-width: 860px;
    }

  }

  &__content {
    margin-right: 32px;
    width: 100%;
  }

  &__main-img {
    position: relative;
    width: 100%;
    padding-top: 51.5%;
    margin-bottom: 15px;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 20px;
    }
  }

  &__title {
    color: #00B7F1;
  }

  &__main-info {
    display: flex;
    margin-bottom: 15px;

    a {
      color: #00B7F1;
      margin-right: 20px;
    }

    p {
      color: #808080;
    }
  }

  &__main-desc {
    margin-bottom: 58px;
    color: #1C283A;
  }


  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 15px;
    width: 655px;

    .articles-page__menu-btn {
      border: none;
      background: none;
      border-radius: 50px;
      padding: 6px 20px;
      cursor: pointer;
      transition: all .3s;
      color: #1C283A;
    }

    .articles-page__menu-btn_active {
      color: #FFFFFF;
      background: #00B9EE;
    }
  }

  &__articles-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__list-item {
    width: 48%;
    margin-bottom: 43px;
  }

  &__item-img {
    position: relative;
    padding-top: 60%;
    width: 100%;
    margin-bottom: 13px;

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 15px;
    }
  }

  &__item-title {
    color: #1C283A;
    margin-bottom: 30px;
  }

  &__item-desc {
    color: #1C283A;
    margin-bottom: 20px;
  }

  &__item-info {
    display: flex;

    a {
      color: #00B7F1;
      margin-right: 17px;
    }

    p {
      color: #808080;
    }
  }

  &__more-btn {
    border: none;
    background: none;
    cursor: pointer;
    text-transform: uppercase;
    color: #00B7F1;
  }
}


.articles-aside {
  width: 515px;
  min-width: 515px;

  &__subtitle {
    margin-bottom: 28px;
  }

  &__list {
    margin-bottom: 35px;
  }

  &__list-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 23px;
  }

  &__item-img {
    position: relative;
    width: 66px;
    margin-right: 20px;
    padding-top: 12.8%;

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }
  }

  &__item-content {
    margin-top: -10px;

    a {
      color: #1C283A;
    }

    p {
      color: #1C283A;
      max-width: 330px;
    }
  }

  &__banner {
    position: relative;
    width: 100%;
    padding-top: 61%;

    &:not(:last-child) {
      margin-bottom: 50px;
    }

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }
  }
}
