.careers-page {
  padding-top: 108px;
  padding-bottom: 50px;

  .careers-caption {
    padding-bottom: 70px;

    &__top {
      display: flex;
      margin-bottom: 80px;
      align-items: flex-start;

      p {
        max-width: 860px;
      }

    }

    &__title {
      margin-right: 100px;
    }

    &__inner {
      display: flex;
    }

    &__list {
      width: 82%;
      margin-right: 42px;
      height: 810px;
      overflow-y: scroll;
      padding-right: 30px;
      scrollbar-color: #F3F3F3 transparent;
      scrollbar-width: thin;

      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;


      &::-webkit-scrollbar {
        width: 15px;
      }

      &::-webkit-scrollbar-thumb {
        background: #F3F3F3;
        border-radius: 50px;
      }

    }


    &__list-item {
      border: 1px solid #A5B4C4;
      border-radius: 40px;
      padding: 22px 30px 22px 30px;
      width: 49%;
      cursor: pointer;
      margin-bottom: 25px;
    }

    &__item-title {
      color: #1C283A;
      margin-bottom: 12px;
      pointer-events: none;
    }

    &__item-text {
      color: #1C283A;
      pointer-events: none;
    }

    &__application {
      width: 100%;
      a {
        display: block;
        padding: 18px 15px 20px;
        background-color: #F3F3F3;
        width: 100%;
        color: #1C283A;
        border-radius: 5px;
        transition: all .3s;
        &:hover {
          background-color: #00B9EE;
          color: #FFFFFF;
        }
      }
    }

    &__menu {
      width: 250px;

      li {
        margin-bottom: 17px;
      }
    }


    &__menu-btn {
      border: none;
      background: none;
      border-radius: 50px;
      padding: 6px 20px;
      cursor: pointer;
      color: #1C283A;
      transition: all .3s;
    }

    &__menu-btn_active {
      color: #FFFFFF;
      background: #00B9EE;
    }
  }


  .careers-work {
    padding: 57px 0 25px 0;

    &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 24px;
    }

    &__title {
      margin-right: 50px;
    }

    &__menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 560px;

      .careers-work__menu-btn {
        border: none;
        background: none;
        border-radius: 50px;
        padding: 6px 20px;
        cursor: pointer;
        transition: all .3s;
      }

      .careers-work__menu-btn_active {
        color: #FFFFFF;
        background: #00B9EE;
      }
    }

    .careers-work-swiper {
      overflow: hidden;
      padding: 20px;

      .swiper-wrapper {
        margin-bottom: 35px;
      }

      &__img {
        padding-top: 51%;
        position: relative;
        cursor: pointer;
      }

      .swiper-slide img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        transition: all .3s;
      }

      .swiper-slide:hover img {
        transform: scale(1.1);
      }

      &__category {
        color: #00B7F1;
        display: inline-block;
        margin-top: 22px;
      }

      &__content {
        display: flex;
        position: relative;
        flex-direction: column;
        min-height: 50px;
      }

      &__text {
        max-width: 377px;
        min-height: 100px;
      }

      .careers-work__swiper-panel {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .careers-work__swiper-controls {
        display: flex;
        align-items: center;
      }

      .careers-work__swiper-button-prev,
      .careers-work__swiper-button-next {
        background: none;
        border: none;
        width: 55px;
        height: 25px;
        cursor: pointer;
        display: inline-block;
        position: relative;

        svg {
          position: absolute;
          left: 0;
          top: 0;
        }
      }

      .careers-work__swiper-button-next {
        margin-left: 5px;
      }

      .careers-work__swiper-button-prev svg path,
      .careers-work__swiper-button-next svg path {
        transition: all .3s;
      }

      .careers-work__swiper-button-prev:hover svg path,
      .careers-work__swiper-button-next:hover svg path {
        fill: #00B9EE;
      }
    }

    &__btn {
      background: none;
      border: none;
      color: $secondary;
      cursor: pointer;
      transition: all .3s;

      &:hover {
        color: #00C9FF;
      }
    }

  }

}

