.careers-page {
  padding-top: 43px;

  .careers-caption {
    padding-bottom: 70px;

    &__title {
      @include mudkty-regular;
      font-size: 45px;
      line-height: 66px;
      color: #1C283A;
      margin-bottom: 26px;
    }

    &__inner {
      display: flex;
    }

    &__list {
      width: 82%;
      margin-right: 42px;
      height: 1040px;
      overflow-y: scroll;
      padding-right: 30px;
      scrollbar-color: #F3F3F3 transparent;
      scrollbar-width: thin;

      &::-webkit-scrollbar {
        width: 15px;
      }

      &::-webkit-scrollbar-thumb {
        background: #F3F3F3;
        border-radius: 50px;
      }

    }


    &__list-item {
      border: 1px solid #A5B4C4;
      border-radius: 40px;
      padding: 38px 30px 10px 30px;
      height: 320px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }

    &__item-title {
      @include mudkty-regular;
      font-size: 50px;
      line-height: 73px;
      color: #1C283A;
      margin-bottom: 12px;
    }

    &__item-text {
      @include montserrat-regular;
      font-size: 25px;
      line-height: 30px;
      color: #1C283A;

    }

    &__item-btn {
      @include mudkty-regular;
      font-size: 36px;
      line-height: 53px;
      color: #00B7F1;
      background: none;
      border: none;
      cursor: pointer;
      transition: all .3s;
      align-self: flex-start;

      &:hover {
        color: #00C9FF;
      }
    }


    &__menu {
      width: 250px;

      li {
        margin-bottom: 17px;
      }
    }


    &__menu-btn {
      border: none;
      background: none;
      border-radius: 50px;
      font-size: 22px;
      line-height: 32px;
      padding: 6px 20px;
      cursor: pointer;
      color: #1C283A;
      transition: all .3s;
    }

    &__menu-btn_active {
      color: #FFFFFF;
      background: #00B9EE;
    }
  }


  .careers-work {
    padding: 57px 0 25px 0;
    background: #F3F3F3;

    &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 24px;
    }

    &__title {
      @include montserrat-bold;
      font-size: 45px;
      line-height: 55px;
      color: #1C283A;
      margin-right: 50px;
    }

    &__menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 560px;

      .careers-work__menu-btn {
        border: none;
        background: none;
        border-radius: 50px;
        font-size: 22px;
        line-height: 32px;
        padding: 6px 20px;
        cursor: pointer;
        transition: all .3s;
      }

      .careers-work__menu-btn_active {
        color: #FFFFFF;
        background: #00B9EE;
      }
    }

    .careers-work-swiper {
      overflow: hidden;
      padding: 20px;

      .swiper-wrapper {
        margin-bottom: 35px;
      }

      &__img {
        padding-top: 51%;
        position: relative;
        cursor: pointer;
      }

      .swiper-slide img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        transition: all .3s;
      }

      .swiper-slide:hover img {
        transform: scale(1.1);
      }

      &__category {
        @include mudkty-light;
        font-size: 17px;
        line-height: 25px;
        color: #00B7F1;
        display: inline-block;
        margin-top: 22px;
      }

      &__content {
        display: flex;
        position: relative;
        flex-direction: column;
        min-height: 50px;
      }

      &__text {
        max-width: 377px;
        min-height: 100px;
      }

      .careers-work__swiper-panel {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .careers-work__swiper-controls {
        display: flex;
        align-items: center;
      }

      .careers-work__swiper-button-prev,
      .careers-work__swiper-button-next {
        background: none;
        border: none;
        width: 55px;
        height: 25px;
        cursor: pointer;
        display: inline-block;
        position: relative;

        svg {
          position: absolute;
          left: 0;
          top: 0;
        }
      }

      .careers-work__swiper-button-next {
        margin-left: 5px;
      }

      .careers-work__swiper-button-prev svg path,
      .careers-work__swiper-button-next svg path {
        transition: all .3s;
      }

      .careers-work__swiper-button-prev:hover svg path,
      .careers-work__swiper-button-next:hover svg path {
        fill: #00B9EE;
      }
    }

    &__btn {
      background: none;
      border: none;
      @include mudkty-medium;
      font-size: 22px;
      line-height: 33px;
      color: $secondary;
      cursor: pointer;
      transition: all .3s;

      &:hover {
        color: #00C9FF;
      }
    }

  }


  .careers-cta {
    padding: 90px 0;

    .container {
      display: flex;
      align-items: center;
    }

    &__content {
      margin-right: 110px;
      max-width: 762px;
    }

    &__title {
      @include mudkty-regular;
      font-size: 58px;
      line-height: 76px;
      letter-spacing: 0.01em;
      text-transform: uppercase;
      color: #1C283A;
    }

    &__text {
      @include montserrat-light;
      font-size: 22px;
      line-height: 27px;
    }

    &__btn {
      width: 388px;
      height: 120px;
      @include mudkty-regular;
      font-size: 50px;
      line-height: 73px;
    }


  }


}

