.company {
  padding-bottom: 400px;

  h2.company-subtitle {
    @include montserrat-bold;
    font-size: 45px;
    line-height: 55px;
    color: #1C283A;
    margin-bottom: 30px;
  }

  .company-caption {
    margin-top: 51px;
    margin-bottom: 84px;

    &__title {
      @include mudkty-bold;
      font-size: 58px;
      line-height: 92px;
      letter-spacing: 0.05em;
      color: #1C283A;
      margin-bottom: 40px;
    }

    &__desc {
      @include mudkty-light;
      font-size: 38px;
      line-height: 45px;
      color: #1C283A;
      max-width: 1380px;

      a {
        font-weight: 700;
        color: #00B7F1;
      }
    }
  }

  .company-indicators {
    margin-bottom: 37px;

    &__list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }

    &__list-item {
      @include mudkty-bold;
      font-size: 81px;
      line-height: 157px;
      color: #1C283A;
      margin-bottom: 65px;
      width: 31%;
      border-top: 1px solid #A5B4C4;
      position: relative;

      span {
        position: absolute;
        left: 0;
        bottom: 0;
        @include montserrat-bold;
        font-size: 24px;
        line-height: 29px;
      }
    }

  }

  .company-features {
    padding: 100px 0 0 76px;
    background: left / cover no-repeat url("../img/features-bg.png");
    border-radius: 0 70px 70px 0;
    background-size: auto 103%;
    width: 96%;
    margin-bottom: 113px;

    &__list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    &__list-item {
      width: 31%;
      margin-bottom: 58px;
    }

    &__list-title {
      h2 {
        @include montserrat-bold;
        font-size: 81px;
        line-height: 99px;
      }

      padding-top: 22px;
    }

    &__item-img {
      margin-bottom: 17px;
      height: 100px;
    }

    &__item-title {
      @include montserrat-bold;
      font-size: 20px;
      line-height: 30px;
      color: #1C283A;
    }

    &__item-text {
      @include montserrat-light;
      font-size: 18px;
      line-height: 30px;
      color: #1C283A;
    }

  }

  .company-history {
    margin-bottom: 93px;
    .history-swiper {
      overflow: hidden;

      .swiper-wrapper {
        margin-bottom: 5px;
      }

      &__img {
        padding-top: 51%;
        position: relative;
        cursor: pointer;
      }

      .swiper-slide {
        position: relative;

        &::before {
          content: '';
          position: absolute;
          width: 408px;
          height: 12px;
          left: 0;
          top: 217px;
          background: center / cover no-repeat url("../img/history-border.png");
          z-index: 9999;
        }
      }

      .swiper-slide img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        transition: all .3s;
      }

      &__category {
        @include montserrat-bold;
        font-size: 25px;
        line-height: 30px;
        color: #00B7F1;
        display: inline-block;
        margin-top: 62px;
        margin-bottom: 20px;
      }

      &__content {
        display: flex;
        position: relative;
        flex-direction: column;
        min-height: 70px;
      }

      &__text {
        @include montserrat-regular;
        font-size: 17px;
        line-height: 28px;
        color: #1C283A;
        margin-bottom: 17px;
        min-height: 100px;
      }

      .company-history__swiper-panel {
        display: flex;
        justify-content: flex-end;
      }

      .company-history__swiper-button-prev,
      .company-history__swiper-button-next {
        background: none;
        border: none;
        width: 55px;
        height: 25px;
        cursor: pointer;
        display: inline-block;
        position: relative;

        svg {
          position: absolute;
          left: 0;
          top: 0;
        }
      }

      .company-history__swiper-button-next {
        margin-left: 5px;
      }

      .company-history__swiper-button-prev svg path,
      .company-history__swiper-button-next svg path {
        transition: all .3s;
      }

      .company-history__swiper-button-prev:hover svg path,
      .company-history__swiper-button-next:hover svg path {
        fill: #00B9EE;
      }
    }
  }

  .company-team {
    &__inner {
      display: flex;
      justify-content: space-between;
    }

    h2.company-team__title {
      margin-bottom: 44px;
    }

    &__desc {
      width: 45%;

      p {
        @include montserrat-light;
        font-size: 17px;
        line-height: 28px;
        color: #1C283A;
        margin-bottom: 29px;
      }
    }

    &__img {
      transform: translateY(-74px);
    }
  }

}

