.company {
  padding-top: 103px;

  .company-caption {
    margin-bottom: 82px;

    &__title {
      margin-right: 100px;
    }

    &__top {
      display: flex;
      margin-bottom: 80px;
      align-items: flex-start;

      p {
        max-width: 860px;

        a {
          color: #00B7F1;
        }
      }
    }

  }

  .company-indicators {
    &__list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }

    &__list-item {
      color: #1C283A;
      margin-bottom: 106px;
      width: 31%;
      border-top: 1px solid #A5B4C4;
      position: relative;

      &.factage-text {
        line-height: 122px;
      }

      span {
        position: absolute;
        left: 0;
        bottom: -18px;
      }
    }

  }

  .company-features {
    padding: 94px 0 0 76px;
    background-color: #F3F3F3;
    margin-bottom: 90px;

    .main-title {
      color: #1C283A;
      line-height: 88px;
    }

    &__list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    &__list-item {
      width: 31.2%;
      margin-bottom: 83px;
    }

    &__list-title {
      padding-top: 22px;

    }

    &__item-img {
      margin-bottom: 27px;
      height: 100px;
    }

    &__item-title {
      &.title-text {
        line-height: 32px;
      }
    }

    &__item-text {
      max-width: 470px;
    }

  }

  .company-history {
    margin-bottom: 90px;

    &__title {
      margin-bottom: 15px;
    }

    .history-swiper {
      overflow: hidden;

      .swiper-wrapper {
        margin-bottom: 5px;
      }

      &__img {
        padding-top: 51%;
        position: relative;
        cursor: pointer;

        &::before {
          content: '';
          position: absolute;
          width: 107%;
          height: 15px;
          left: 0;
          bottom: -39px;
          background: left / cover no-repeat url("../img/history-border.png");
          z-index: 9999;
        }
      }


      .swiper-slide img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        transition: all .3s;

      }

      &__category {
        color: #00B7F1;
        display: inline-block;
        margin-top: 62px;
        margin-bottom: 12px;
      }

      &__content {
        display: flex;
        position: relative;
        flex-direction: column;
        min-height: 70px;
      }

      &__text {
        color: #1C283A;
        margin-bottom: 10px;
        min-height: 100px;
      }

      .company-history__swiper-panel {
        display: flex;
        justify-content: flex-end;
      }

      .company-history__swiper-button-prev,
      .company-history__swiper-button-next {
        background: none;
        border: none;
        width: 55px;
        height: 25px;
        cursor: pointer;
        display: inline-block;
        position: relative;

        svg {
          position: absolute;
          left: 0;
          top: 0;
        }
      }

      .company-history__swiper-button-next {
        margin-left: 5px;
      }

      .company-history__swiper-button-prev svg path,
      .company-history__swiper-button-next svg path {
        transition: all .3s;
      }

      .company-history__swiper-button-prev:hover svg path,
      .company-history__swiper-button-next:hover svg path {
        fill: #00B9EE;
      }
    }
  }

  .company-team {
    &__inner {
      display: flex;
      justify-content: space-between;
    }

    h2.company-team__title {
      margin-bottom: 51px;
      line-height: 36px;
    }

    &__desc {
      width: 49.2%;
      margin-right: 30px;
      padding-bottom: 50px;

      p:not(:last-child) {
        margin-bottom: 28px;
      }
    }

    &__img {
      width: 800px;
      transform: translateY(-90px);


      img {
        border-radius: 20px;
      }
    }
  }

  .company-office {
    margin-bottom: 75px;

    h2.company-office__title {
      margin-bottom: 63px;
      line-height: 25px;

    }

    &__inner {
      display: flex;
    }

    &__swiper-container {
      margin-right: 44px;
      transform: translateX(-40px);
      width: 62%;
      overflow: hidden;
    }


    .office-swiper {
      .swiper-wrapper {
        margin-bottom: 32px;
      }

      &__img {
        padding-top: 58%;
        position: relative;
        cursor: pointer;
      }

      .swiper-slide img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        transition: all .3s;
      }

      .swiper-slide {
        transition: all .4s;
      }

      .swiper-slide:not(.swiper-slide-active) {
        opacity: 0.5;
      }

      .company-office__swiper-panel {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 0 180px;
      }


      .company-office__pagination {
        position: static;
        width: 45px;
        color: #00B7F1;
      }

      .company-office__swiper-controls {
        transform: translateY(-7px);
      }

      .company-office__swiper-button-prev,
      .company-office__swiper-button-next {
        background: none;
        border: none;
        width: 40px;
        height: 17px;
        cursor: pointer;
        display: inline-block;
        position: relative;

        svg {
          position: absolute;
          left: 0;
          top: 0;
        }
      }

      .company-office__swiper-button-next {
        margin-left: 15px;
      }

      .company-office__swiper-button-prev svg path,
      .company-office__swiper-button-next svg path {
        transition: all .3s;
      }

      .company-office__swiper-button-prev:hover svg path,
      .company-office__swiper-button-next:hover svg path {
        fill: #00B9EE;
      }
    }

    &__content {
      width: 30%;
    }

    &__content-title {
      color: #1C283A;
      margin-bottom: 35px;
      font-size: 22px;
      line-height: 24px;
    }

    &__content-list li {
      position: relative;
      max-width: 430px;

      span {
        position: relative;

        &::before {
          content: '';
          position: absolute;
          left: -20px;
          width: 6px;
          height: 6px;
          top: 50%;
          transform: translateY(-50%);
          border-radius: 50%;
          background-color: #00B7F1;
        }
      }
    }

  }

  .company-work {
    margin-bottom: 70px;

    >.container {
      padding: 0;
    }

    &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 15px;
    }

    h2.company-work__title {
      margin-bottom: 0;
    }

    &__menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 560px;

      .company-work__menu-btn {
        border: none;
        background: none;
        border-radius: 50px;
        padding: 6px 20px;
        cursor: pointer;
        transition: all .3s;
      }

      .company-work__menu-btn_active {
        color: #FFFFFF;
        background: #00B9EE;
      }
    }

    .work-swiper {
      overflow: hidden;
      padding: 10px 15px;

      &__img {
        padding-top: 51%;
        position: relative;
        cursor: pointer;
      }

      .swiper-slide img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        transition: all .3s;
      }

      .work-swiper__date {
        &.regular-text {
          display: none;
          margin-top: 20px;
          line-height: 22px;
        }
      }

      .swiper-slide:hover img {
        transform: scale(1.07);
      }

      &__category {
        color: #00B7F1;
        display: inline-block;
        margin: 20px 0 14px;
      }

      &__content {
        display: flex;
        position: relative;
        flex-direction: column;
        min-height: 50px;
      }

      &__text {
        max-width: 377px;
      }

      .company-work__swiper-panel {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
      }

      .company-work__swiper-button-prev,
      .company-work__swiper-button-next {
        background: none;
        border: none;
        width: 55px;
        height: 25px;
        cursor: pointer;
        display: inline-block;
        position: relative;

        svg {
          position: absolute;
          left: 0;
          top: 0;
        }
      }

      .company-work__swiper-button-next {
        margin-left: 5px;
      }

      .company-work__swiper-button-prev svg path,
      .company-work__swiper-button-next svg path {
        transition: all .3s;
      }

      .company-work__swiper-button-prev:hover svg path,
      .company-work__swiper-button-next:hover svg path {
        fill: #00B9EE;
      }
    }

    &__btn {
      margin-top: 15px;
      background: none;
      border: none;
      color: $secondary;
      cursor: pointer;
      transition: all .3s;

      &:hover {
        color: #00C9FF;
      }
    }

  }

  .company-global {
    background-image: url("../img/global-bg.jpg");
    background-position: 0 54%;
    background-repeat: no-repeat;
    height: 837px;
    padding-top: 75px;

    &__title {
      @include mudkty-regular;
      font-size: 108px;
      line-height: 122px;
      color: #1C283A;

      span {
        display: block;
        font-size: 34px;
        line-height: 41px;
        padding-left: 80px;
      }
    }
  }

  .company-careers {
    padding: 90px 0;

    .container {
      display: flex;
      align-items: center;
    }

    &__title {
      max-width: 64%;
      margin-right: 70px;
      line-height: 52px;

      span {
        color: $secondary;
      }
    }

    &__btn {
      text-align: center;
      cursor: pointer;
      text-transform: uppercase;
      color: #FFFFFF;
      padding: 20px 90px;
      transition: all .3s;
      background-color: #00B9EE;
      border-radius: 100px;

      span {
        max-width: 260px;
        display: inline-block;
      }

      &:hover {
        background-color: #00C9FF;
      }
    }
  }

}
