.press-header {
  margin-bottom: 95px;
  padding: 58px 0 57px;
  border-bottom: 1px solid #DADFE5;

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 33px;
  }

  &__menu-list {
    display: flex;

    li {
      margin-right: 66px;
    }

    a {
      @include montserrat-bold;
      font-size: 23px;
      line-height: 28px;
      color: #1C283A;
      transition: all .3s;

      &:hover {
        color: $secondary;
      }
    }
  }

  &__desc {
    @include mudkty-regular;
    font-size: 20px;
    line-height: 29px;
    color: #000000;

    a {
      color: #00B9EE;
    }
  }

}

.press-kit {
  background: linear-gradient(0deg, #CAD1DB 0.53%, #F7F7F8 100%);
  padding-bottom: 110px;

  &__subtitle {
    @include montserrat-bold;
    font-size: 48px;
    line-height: 59px;
    color: #1C283A;
  }

  &__subtitle-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 46px;
  }

  &__download-btn {
    @include montserrat-bold;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    background-color: #00B9EE;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    padding: 14px 44px;
    transition: all .3s;
    margin-left: 38px;
    min-width: 240px;

    &:hover {
      background-color: #00C9FF;
    }
  }

  &__caption {
    margin-bottom: 120px;

    background: radial-gradient(50% 50% at 50% 50%, rgba(#00B7F1, 0.5) 0%, rgba(255, 255, 255, 0) 100%) no-repeat -1300px 70px;
  }

  &__caption-title {
    @include montserrat-bold;
    font-size: 82px;
    line-height: 100px;
    color: #1C283A;
    margin-bottom: 50px;
  }

  &__caption-desc {
    @include montserrat-medium;
    font-size: 24px;
    line-height: 38px;
    color: #1C283A;
    margin-bottom: 40px;
    max-width: 1070px;
  }

  &__socials-list {
    display: flex;
    margin-bottom: 52px;

    li {
      margin-right: 35px;
    }

    a {
      @include mudkty-regular;
      font-size: 20px;
      line-height: 29px;
      color: #1C283A;
      transition: all .3s;

      &:hover {
        color: $secondary;
      }
    }
  }

  &__logo-items {
    display: flex;
    justify-content: space-between;
  }

  &__logo-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    border-radius: 30px;
    padding: 195px 0 46px;
    width: 49%;

    &:not(:last-child) {
      margin-right: 40px;
    }
  }

  &__logo-img {
    position: relative;
    width: 36%;
    padding-top: 15%;
    margin-bottom: 87px;

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__logo-text {
    @include montserrat-regular;
    font-size: 18px;
    line-height: 22px;
    color: #DADFE5;
    margin-bottom: 25px;
  }

  &__logo-formats {
    display: flex;

    li:not(:last-child) {
      margin-right: 20px;
    }

    button {
      @include mudkty-regular;
      font-size: 19px;
      line-height: 28px;
      width: 60px;
      text-align: center;
      color: #FFFFFF;
      cursor: pointer;
      border: none;
      background-color: #EDEFF2;
      border-radius: 20px;
      padding: 4px 0;
      transition: all .3s;

      &:hover {
        color: #FFFFFF;
        background-color: $secondary;
      }
    }
  }

  &__logo-item_black {
    background-color: #000000;

    .press-kit__logo-formats {
      button {
        background-color: #6D6F72;

        &:hover {
          background-color: $secondary;
        }
      }
    }


  }

  &__colors {
    margin-bottom: 116px;
  }


  &__colors-list_lg {
    display: flex;
    justify-content: space-between;
    margin-top: 38px;
    margin-bottom: 45px;

    li {
      padding: 60px 38px 245px 38px;
      width: 32%;
      background-color: #FFFFFF;
      border-radius: 30px;

      &:not(:last-child) {
        margin-right: 42px;
      }

      p {
        @include montserrat-bold;
        font-size: 26px;
        line-height: 32px;
        color: #1C283A;
        margin-bottom: 24px;
      }

      h3 {
        @include montserrat-bold;
        font-size: 68px;
        line-height: 84px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #1C283A;
        display: inline-block;
        padding-right: 42px;
        position: relative;

        svg {
          position: absolute;
          right: 0;
          bottom: 14px;
          cursor: pointer;
        }
      }
    }

    li:first-child {
      background-color: #00AEEA;
    }

    li:nth-child(2) {
      background-color: #1C283A;

      p {
        color: #FFFFFF;
      }

      h3 {
        color: #FFFFFF;

        svg path {
          fill: #FFFFFF;
        }
      }
    }


  }

  &__colors-list_sm {
    display: flex;
    justify-content: space-between;

    li {
      padding: 48px 38px 197px 38px;
      width: 32%;
      background-color: #FFFFFF;
      border-radius: 30px;

      &:not(:last-child) {
        margin-right: 42px;
      }

      h3 {
        @include montserrat-bold;
        font-size: 36px;
        line-height: 44px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #1C283A;
        display: inline-block;
        padding-right: 38px;
        position: relative;

        svg {
          cursor: pointer;
          position: absolute;
          bottom: 7px;
          right: 0;
        }
      }
    }

    li:nth-child(2) {
      background-color: #C7D0DA;
    }

    li:last-child {
      background-color: #DADFE5;
    }


  }


  &__typography {
    margin-bottom: 100px;
  }

  &__typography-list_lg {
    display: flex;
    justify-content: space-between;
    margin-top: 53px;
    margin-bottom: 43px;


    li {
      background-color: #ffffff;
      border-radius: 30px;
      width: 49%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 217px 20px 80px 20px;
      height: 530px;

      &:not(:last-child) {
        margin-right: 40px;
      }

      &:last-child {
        padding-top: 180px;
      }

      h3 {
        @include montserrat-bold;
        font-size: 68px;
        line-height: 84px;
        text-align: center;
        color: #1C283A;
      }

      p {
        display: inline-block;
        margin-right: 50px;
        @include montserrat-bold;
        font-size: 25px;
        line-height: 30px;
        color: #DADFE5;
      }

      button {
        @include montserrat-bold;
        font-size: 25px;
        line-height: 30px;
        color: #00AEEA;
        border: none;
        background: none;
        cursor: pointer;
      }

    }
  }

  &__typography-list_sm {
    display: flex;
    justify-content: space-between;

    li {
      width: 32%;
      height: 455px;
      background: #FFFFFF;
      border-radius: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      padding: 65px 20px;

      &:not(:last-child) {
        margin-right: 42px;
      }

      p {
        @include montserrat-regular;
        font-size: 18px;
        line-height: 22px;
        color: #DADFE5;
      }
    }
  }


  &__icons {
    margin-bottom: 124px;
  }

  &__icons-inner {
    background: #FFFFFF;
    border-radius: 30px;
    padding: 105px 35px 97px 100px;
  }

  &__icons-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    li {
      margin-right: 100px;
      width: 12%;

      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5) {
        margin-bottom: 145px;
      }

      &:nth-child(5),
      &:nth-child(10) {
        margin-right: 0;
      }
    }

  }

  &__game-title {
    @include montserrat-bold;
    font-size: 82px;
    line-height: 100px;
    color: #1C283A;
    margin-bottom: 50px;
  }

  &__game-desc {
    @include montserrat-medium;
    font-size: 24px;
    line-height: 38px;
    color: #1C283A;
    margin-bottom: 40px;
    max-width: 1070px;
  }


  &__game {

    .press-kit__logo-items {
      margin-bottom: 110px;
    }

    .press-kit__logo-item {
      padding: 178px 0 42px
    }

    .press-kit__logo-img {
      width: 54%;
      padding-top: 18%;
    }

  }

  &__game-items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 85px;

    li {
      background-color: #ffffff;
      border-radius: 30px;
      width: 49%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      padding: 20px 20px 67px 20px;
      height: 530px;

      &:not(:last-child) {
        margin-right: 40px;
      }

      p {
        @include montserrat-regular;
        font-size: 18px;
        line-height: 22px;
        color: #DADFE5;
      }
    }
  }

  .press-kit__game .press-kit__gameplay-items {
    margin-bottom: 42px;
  }

  &__gameplay-items {
    .press-kit__logo-item {
      padding: 59px 60px 37px;
    }

    .press-kit__logo-img {
      width: 100%;
      padding-top: 46%;
      margin-bottom: 25px;

      img {
        border-radius: 15px;
      }
    }
  }

  .press-kit__gameplay-items_sm {
    margin-bottom: 0;

    .press-kit__logo-item {
      padding: 54px 20px 46px;
      width: 32%;
    }

    .press-kit__logo-img {
      width: 56%;
      padding-top: 120%;
      margin-bottom: 35px;

      img {
        border-radius: 15px;
      }
    }


  }

}
