.header_border {
  border-bottom: 1px solid #A5B4C4;
}

.products-main {
  padding-bottom: 267px;
  padding-top: 108px;
  overflow: hidden;

  .container {
    margin-bottom: 160px;
  }

  &__top {
    display: flex;
    align-items: flex-start;
    z-index: 999;
  }

  &__title {
    @include mudkty-regular;
    font-size: 108px;
    line-height: 65px;
    color: #00B9EE;
    margin-right: 100px;
  }

  &__desc {
    max-width: 860px;

    p {
      font-size: 28px;
      line-height: 34px;
      color: #0A0B0B;
      margin-bottom: 38px;
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 74%;

    .products-main__menu-btn {
      border: none;
      background: none;
      border-radius: 50px;
      font-size: 22px;
      line-height: 32px;
      padding: 6px 20px;
      cursor: pointer;
      transition: all .3s;
    }

    .products-main__menu-btn_active {
      color: #FFFFFF;
      background: #00B9EE;
    }
  }

  .products-main__path {
    .products-main__path-svg {
      width: 1920px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -115px;
    }

    .path-dot {
      position: absolute;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color: #00B9EE;
    }

    #dotPath {
      stroke-dasharray: 12;
    }

    .prompt-wrapper {
      position: absolute;
      z-index: 999;
      cursor: pointer;

      &._active .prompt-bg {
        transition: all .3s;
        fill: #00B9EE;
      }
    }

    .products-main__prompt {
      position: absolute;

      &.prompt_active ~ .prompt-modal {
        opacity: 1;
        visibility: visible;
      }
    }

    .prompt-modal {
      width: 330px;
      min-height: 210px;
      background: url("../img/prompt-bg.png") no-repeat center;
      padding: 40px 10px 10px 50px;
      position: absolute;
      left: 0;
      top: 0;
      cursor: auto;
      opacity: 0;
      visibility: hidden;
      transition: all .3s;

      p {
        @include montserrat-regular;
        font-size: 16px;
        line-height: 28px;
        max-width: 250px;
      }
    }


    .prompt1 {
      left: 75%;
      top: -116px;

      .prompt-modal {
        top: -225px;
        left: -205px;
        padding: 40px 10px 10px 25px;
        background: url("../img/prompt-bg-top.png") no-repeat center;
        width: 303px;
        height: 234px;
      }
    }

    .prompt2 {
      left: 31%;
      top: 707px;

      .prompt-modal {
        top: -95px;
        left: 77px;
      }
    }

    .prompt3 {
      left: 81%;
      top: 689px;
      transform: rotate(25deg);

      .prompt-modal {
        top: -184px;
        left: -269px;
        transform: rotate(-25deg);
        padding: 40px 10px 10px 25px;
        background: url("../img/prompt-bg-top.png") no-repeat center;
        width: 303px;
        height: 234px;
      }
    }

    .prompt4 {
      left: 30%;
      top: 1432px;

      .prompt-modal {
        top: -95px;
        left: 77px;
      }
    }
  }

  .prompt-wrapper {
    position: relative;
    z-index: 999;
  }

  .products-main__items {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1920px;
    margin: 0 auto;

    &-container {
      max-width: 1920px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 100%;
    }
  }

  .game-item {
    display: flex;
    align-items: center;
    padding-left: 352px;
    height: 740px;
  }

  .game-item.game-item_right {
    padding-right: 352px;
    padding-left: 0;

    .game-item__content {
      order: 1;
      margin-right: 0;
      margin-left: 265px;
    }

    .game-item__img,
    .game-item__img-wrapper {
      transform: rotate(180deg);
    }

    .game-item__hover-video img {
      transform: rotate(180deg) translate(50%, 50%);
    }

    .game-item__hover-video {
      transform: translateX(100%);
    }

    .game-item__img::after {
      left: -150px;
    }

    .game-item__img:hover .game-item__hover-video {
      transform: translateX(-100px);
    }

    .game-item__img-wrapper {
      left: -45px;
      top: 35px;
    }

  }

  .game-item__content {
    width: 33%;
    position: relative;
    margin-right: 230px;
  }

  .game-item__title {
    @include mudkty-regular;
    font-size: 43px;
    max-width: 570px;
    line-height: 63px;
    margin-bottom: 35px;
  }

  .game-item__text {
    @include montserrat-regular;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 30px;
  }

  .game-item__features-list {
    margin-bottom: 30px;
    padding-left: 15px;
  }

  .game-item__features-item {
    @include montserrat-bold;
    font-size: 20px;
    line-height: 32px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: #00B9EE;
      top: 50%;
      transform: translateY(-50%);
      left: -15px;
    }
  }

  .game-item__link {
    font-size: 25px;
    line-height: 32px;
    color: #00B9EE;
    transition: all .3s;

    &:hover {
      color: #00C9FF;
    }
  }

  .game-item__img {
    width: 46%;
    cursor: pointer;
    position: relative;

    &::after {
      opacity: 0;
      content: '';
      position: absolute;
      left: -50px;
      top: 50%;
      border-radius: 60px 0 0 60px;
      transform: translateY(-50%);
      width: 956px;
      height: 450px;
      background: url("../img/game-bg.png");
      transition: all .5s;
    }

    &:hover .game-item__hover-video {
      transform: translateX(0);
      opacity: 1;
    }

    &:hover::after {
      transition: all .5s;
      opacity: 1;
    }

  }

  .game-item__img-wrapper {
    position: absolute;
    height: 100%;
    width: 52%;
    left: 0;
    top: -20px;

    img {
      border-radius: 20px;
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
    }
  }

  .game-item__hover-video {
    transition: all .5s ease-out;
    position: relative;
    opacity: 0;
    padding-top: 49%;
    z-index: 999;
    transform: translateX(100%);

    &::after {
      content: '';
      position: absolute;
      background: no-repeat center/100% url("../img/border-phone.png");
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      transition: all .5s;
    }

    img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 99%;
      height: 92%;
      border-radius: 30px;
    }
  }
}

.articles {
  background-color: #F5F5F5;
  padding: 60px 0 20px;

  h2 {
    margin-bottom: 25px;
    color: #000000;
  }


  .articles-swiper {
    overflow: hidden;
    padding: 20px;

    .swiper-wrapper {
      margin-bottom: 70px;
    }

    &__img {
      padding-top: 51%;
      position: relative;
      cursor: pointer;
    }

    .swiper-slide img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      transition: all .3s;
    }

    .swiper-slide:hover img {
      transform: scale(1.1);
    }

    &__category {
      @include mudkty-light;
      font-size: 17px;
      line-height: 25px;
      color: #00B7F1;
      display: inline-block;
      margin-top: 22px;
      margin-bottom: 10px;
    }

    &__text {
      max-width: 377px;
      margin-bottom: 17px;
      min-height: 100px;
      transition: all .4s;
    }

    .articles__swiper-panel {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }

    .articles__swiper-button-prev,
    .articles__swiper-button-next {
      background: none;
      border: none;
      width: 55px;
      height: 25px;
      cursor: pointer;
      display: inline-block;
      position: relative;

      svg {
        position: absolute;
        left: 0;
        top: 0;
      }
    }

    .articles__swiper-button-next {
      margin-left: 5px;
    }

    .articles__swiper-button-prev svg path,
    .articles__swiper-button-next svg path {
      transition: all .3s;
    }

    .articles__swiper-button-prev:hover svg path,
    .articles__swiper-button-next:hover svg path {
      fill: #00B9EE;
    }
  }

  &__btn {
    background: none;
    border: none;
    @include mudkty-medium;
    font-size: 22px;
    line-height: 33px;
    color: $secondary;
    cursor: pointer;
    transition: all .3s;

    &:hover {
      color: #00C9FF;
    }
  }
}

.check-careers {
  padding: 110px 0;

  .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__title {
    @include mudkty-light;
    font-size: 56px;
    line-height: 69px;
    max-width: 54%;
    margin-right: 100px;

    span {
      color: $secondary;
    }

    .check-careers__title-question {
      font-weight: 400;
      color: #000000;
    }
  }

  &__btn {
    @include mudkty-light;
    font-size: 18px;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 17px 42px;
    transition: all .3s;
    background-color: #00B9EE;
    border-radius: 100px;

    &:hover {
      background-color: #00C9FF;
    }
  }
}
