.header_border {
  border-bottom: 1px solid #A5B4C4;
}

.products-page__articles-container {
  padding: 0;
}

.products-main {
  padding-bottom: 267px;
  padding-top: 103px;
  overflow: hidden;

  .container {
    margin-bottom: 160px;
  }


  &__top {
    display: flex;
    align-items: flex-start;
    z-index: 999;
  }

  &__title {
    margin-right: 190px;
  }

  &__desc {
    max-width: 860px;

    p {
      color: #0A0B0B;
      margin-bottom: 58px;
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 74%;

    .products-main__menu-btn {
      border: none;
      background: none;
      border-radius: 50px;
      padding: 6px 20px;
      cursor: pointer;
      transition: all .3s;
    }

    .products-main__menu-btn_active {
      color: #FFFFFF;
      background: #00B9EE;
    }
  }

  .products-main__path {
    .products-main__path-svg {
      width: 1920px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -115px;
    }

    .path-dot {
      position: absolute;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color: #00B9EE;
    }

    #dotPath {
      stroke-dasharray: 12;
    }

    .prompt-wrapper {
      position: absolute;
      z-index: 999;
      cursor: pointer;

      &._active .prompt-bg {
        transition: all .3s;
        fill: #00B9EE;
      }
    }

    .products-main__prompt {
      position: absolute;

      &.prompt_active ~ .prompt-modal {
        opacity: 1;
        visibility: visible;
      }
    }

    .prompt-modal {
      width: 330px;
      min-height: 210px;
      background: url("../img/prompt-bg.png") no-repeat center;
      padding: 40px 10px 10px 50px;
      position: absolute;
      left: 0;
      top: 0;
      cursor: auto;
      opacity: 0;
      visibility: hidden;
      transition: all .3s;

      p {
        @include montserrat-regular;
        font-size: 16px;
        line-height: 28px;
        max-width: 250px;
      }
    }


    .prompt1 {
      left: 75%;
      top: -116px;

      .prompt-modal {
        top: -225px;
        left: -205px;
        padding: 40px 10px 10px 25px;
        background: url("../img/prompt-bg-top.png") no-repeat center;
        width: 303px;
        height: 234px;
      }
    }

    .prompt2 {
      left: 31%;
      top: 707px;

      .prompt-modal {
        top: -95px;
        left: 77px;
      }
    }

    .prompt3 {
      left: 81%;
      top: 689px;
      transform: rotate(25deg);

      .prompt-modal {
        top: -184px;
        left: -269px;
        transform: rotate(-25deg);
        padding: 40px 10px 10px 25px;
        background: url("../img/prompt-bg-top.png") no-repeat center;
        width: 303px;
        height: 234px;
      }
    }

    .prompt4 {
      left: 30%;
      top: 1432px;

      .prompt-modal {
        top: -95px;
        left: 77px;
      }
    }
  }

  .prompt-wrapper {
    position: relative;
    z-index: 999;
  }

  .products-main__items {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1920px;
    margin: 0 auto;

    &-container {
      max-width: 1920px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 100%;
    }
  }

  .game-item {
    display: flex;
    align-items: center;
    padding-left: 352px;
    height: 740px;
  }

  .game-item.game-item_right {
    padding-right: 352px;
    padding-left: 0;

    .game-item__content {
      order: 1;
      margin-right: 0;
      margin-left: 265px;
    }

    .game-item__img {
      transform: rotate(180deg);
    }

    .game-item__img-wrapper img {
      transform: rotate(180deg);
    }

    .game-item__hover-video video {
      transform: rotate(180deg);
    }

    .game-item__hover-video {
      transform: translateX(100%);
    }

    .game-item__img::after {
      left: -150px;
    }

    .game-item__img:hover .game-item__hover-video {
      transform: translateX(-100px);
    }

    .game-item__img-wrapper {
      left: -45px;
      top: 50%;
      transform: translateY(-50%);
    }

  }

  .game-item__content {
    width: 33%;
    position: relative;
    margin-right: 230px;
  }

  .game-item__title {
    max-width: 570px;
    margin-bottom: 35px;

    a {
      color: #000000;
    }
  }

  .game-item__text {
    margin-bottom: 30px;
  }

  .game-item__features-list {
    margin-bottom: 30px;
    padding-left: 15px;
  }

  .game-item__features-item {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: #00B9EE;
      top: 50%;
      transform: translateY(-50%);
      left: -15px;
    }
  }

  .game-item__link {
    font-size: 25px;
    line-height: 32px;
    color: #00B9EE;
    transition: all .3s;

    &:hover {
      color: #00C9FF;
    }
  }

  .game-item__img {
    width: 41%;
    cursor: pointer;
    position: relative;

    &::after {
      opacity: 0;
      content: '';
      position: absolute;
      left: -50px;
      top: 50%;
      border-radius: 60px 0 0 60px;
      transform: translateY(-50%);
      width: 956px;
      height: 450px;
      background: url("../img/game-bg.png");
      transition: all .5s;
    }

    &:hover .game-item__hover-video {
      transform: translateX(0);
      opacity: 1;
    }

    &:hover::after {
      transition: all .5s;
      opacity: 1;
    }

  }

  .game-item__img-wrapper {
    position: absolute;
    height: 355px;
    width: 376px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    img {
      border-radius: 20px;
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
    }
  }

  .game-item__hover-video {
    transition: all .5s ease-out;
    position: relative;
    opacity: 0;
    z-index: 999;
    height: 100%;
    transform: translateX(100%);

    video {
      width: 100%;
      height: auto;
      border-radius: 50px;
    }

    &::after {
      content: '';
      position: absolute;
      background: no-repeat top/100% url("../img/border-phone.png");
      width: 101%;
      height: 102%;
      left: -1px;
      top: -2px;
      transition: all .5s;
    }

  }
}

.articles {
  background-color: #F5F5F5;
  padding: 76px 0 82px;

  h2 {
    margin-bottom: -10px;
    color: #000000;
  }


  .articles-swiper {
    overflow: hidden;
    padding: 20px 20px 0 15px;

    .swiper-wrapper {
      margin-bottom: 13px;
    }

    &__img {
      padding-top: 51%;
      position: relative;
      cursor: pointer;
    }

    .swiper-slide img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      transition: all .3s;
    }

    .swiper-slide:hover img {
      transform: scale(1.07);
    }

    &__category {
      color: #00B7F1;
      display: inline-block;
      margin-top: 22px;
      margin-bottom: 15px;
    }

    &__text {
      max-width: 377px;
      transition: all .4s;
    }

    &__date {
      margin-top: 12px;
      display: none;
    }

    .articles__swiper-panel {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }

    .articles__swiper-button-prev,
    .articles__swiper-button-next {
      background: none;
      border: none;
      width: 55px;
      height: 25px;
      cursor: pointer;
      display: inline-block;
      position: relative;

      svg {
        position: absolute;
        left: 0;
        top: 0;
      }
    }

    .articles__swiper-button-next {
      margin-left: 5px;
    }

    .articles__swiper-button-prev svg path,
    .articles__swiper-button-next svg path {
      transition: all .3s;
    }

    .articles__swiper-button-prev:hover svg path,
    .articles__swiper-button-next:hover svg path {
      fill: #00B9EE;
    }
  }

  &__btn {
    background: none;
    border: none;
    color: $secondary;
    cursor: pointer;
    transition: all .3s;
    padding: 0;
    &:hover {
      color: #00C9FF;
    }
  }
}

.check-careers {
  padding: 80px 0 87px;

  .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__title {
    max-width: 54%;
    margin-right: 118px;
    line-height: 58px;

    span {
      color: $secondary;
    }

    .check-careers__title-question {
      font-weight: 400;
      color: #000000;
    }
  }

  &__btn {
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 20px 88px;
    width: 340px;
    transition: all .3s;
    background-color: #00B9EE;
    border-radius: 100px;

    &:hover {
      background-color: #00C9FF;
    }
  }
}
