@media (min-width: 1940px) {
  .product-one .product-caption__container {
    padding-left: 15px;
  }

  .product-one .product-features {
    padding: 88px 0 0 0;
    background-position: center;
    background-size: 103%;
    border-radius: 0 0 0 0;
    width: 100%;
  }

}

@media (max-width: 1650px) {
  .product-one .product-caption__container {
    padding-left: 15px;
  }

  .product-one .product-caption__video {
    width: 47%;
    padding-top: 27%;
  }

  .product-one .product-features {
    padding: 149px 0 50px 0;
  }

}

@media (max-width: 1495px) {
  .product-one .product-caption__content {
    width: 52%;
    margin-right: 40px;
  }

  .product-one .product-caption__video {
    width: 40%;
    padding-top: 23%;
  }

  .product-one .product-features__list-item {
    width: 26%;
  }

  .product-one .product-connect__support {
    width: 37%;
  }
  .product-one .product-connect .product-connect__socials {
    width: 56%;
  }
}

@media (max-width: 1280px) {
  .product-one .product-caption {
    margin-top: 55px;
    margin-bottom: 72px;
  }

  .product-one .product-caption__content-title {
    margin-bottom: 5px;
  }
  .product-one .product-caption__content-desc {
    margin-bottom: 40px;
  }
  .product-one .product-caption__container {
    flex-direction: column;
  }

  .product-one .product-caption__content {
    width: 80%;
    margin-right: 0;
    margin-bottom: 60px;
  }
  .product-one .product-caption__video {
    width: 49%;
    padding-top: 28%;
  }

  .product-one .product-features__list {
    justify-content: space-around;
  }

  .product-one .product-features__list-title {
    width: 100%;
  }
  .product-one .product-features__list-item {
    margin-bottom: 35px;
  }
  .product-one .product-features__item-text {
    margin-top: -10px;
  }
  .product-one .product-features {
    margin-bottom: 72px;
    padding: 72px 0 32px;
  }

  .product-one .product-indicators__list-item {
    width: 31%;
    text-align: center;
  }

  .product-one .product-indicators__rating-item span::before {
    right: 0;
  }

  .product-one .product-indicators__list-item span {
    line-height: 110px;
  }
  .product-one .product-indicators {
    margin-bottom: 60px;
  }

  .product-one .product-gallery {
    margin-bottom: 36px;
  }
  .product-one .product-gallery__swiper {
    width: 980px;
  }

  .product-one .product-gallery__swiper::before {
    width: 584px;
    height: 329px;
  }

  .product-one .product-gallery__img {
    width: 572px;
    height: 315px;
  }

  .product-one .product-gallery .swiper-slide img {
    border-radius: 40px;
  }

  .product-one .product-gallery__pagination {
    bottom: 4px;
  }
  .product-one .product-connect {
    margin-bottom: 72px;
  }
  .product-one .product-connect__support {
    width: 44%;
  }
  .product-one .product-connect .product-connect__socials {
    width: 55%;
    margin-bottom: 7px;
  }
  .product-one .product-connect__support-title, .product-one .product-connect__socials-title {
    margin-bottom: 15px;
  }
  .product-one .product-connect__socials-list li {
    margin-bottom: 15px;
  }
  .product-one .product-career {
    padding: 60px 0 72px;
  }

  .product-one .product-career__title {
    margin-bottom: 12px;
  }
  .product-one .product-career__content {
    margin-right: 70px;
    width: 90%;
  }
}

@media (max-width: 1024px) {

  .product-one .product-caption {
    margin: 45px 0 57px;
  }

  .product-one .product-caption__content-title {
    margin-bottom: 16px;
    line-height: 95px;

  }
  .product-one .product-caption__content-desc {
    margin-bottom: 32px;
  }
  .product-one .product-caption__content {
    margin-bottom: 45px;
  }
  .product-one .product-caption__video img {
    border-radius: 35px;
  }
  .product-one .product-indicators {
    margin-bottom: 54px;
  }
  .product-one .product-indicators__list-item span {
    line-height: 86px;
  }

  .product-one .product-indicators__rating-item span::before {
    background-size: 70%;
    right: 17px;
  }
  .product-one .product-indicators__list-item .accent-text {
    font-size: 20px;
    line-height: 30px;
  }

  .product-one .product-features {
    margin-bottom: 59px;
    padding: 53px 0 28px;
  }

  .product-one .product-features__list-title .main-title {
    line-height: 80px;
  }
  .product-one .product-features__list-item {
    margin-bottom: 28px;
  }
  .product-one .product-gallery {
    margin-bottom: 17px;
  }

  .product-one .product-gallery__swiper {
    padding: 0 100px 80px;
  }

 .product-one .product-gallery__swiper {
    width: 655px;
  }

  .product-one .product-gallery__swiper::before {
    width: 455px;
    height: 302px;
    top: 0;
  }

  .product-one .product-gallery__img {
    width: 448px;
    height: 245px;
  }

  .product-one .product-gallery .swiper-slide img {
    border-radius: 32px;
  }

  .product-one .product-gallery__pagination {
    bottom: 8px;
  }
  .product-one .product-connect {
    margin-bottom: 59px;
  }


  .product-one .product-connect .container {
    flex-direction: column;
  }

  .product-one .product-connect__support {
    width: 80%;

  }
  .product-one .product-connect .product-connect__socials {
    width: 80%;
    margin-bottom: 2px;
  }
  .product-one .product-career {
    padding: 44px 0 58px;
  }
}

@media (max-width: 768px) {
  .product-one .product-caption__container {
    padding-right: 30px;
    padding-left: 30px;
  }

  .product-one .product-caption__content {
    width: 100%;
  }
  .product-one .product-caption__video {
    width: 72%;
    padding-top: 41%;
  }
  .product-one .product-caption__content-title {
    text-align: center;
  }

  .product-one .product-caption__platform-list {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .product-one .product-caption__platform-list li {
    width: 40%;
    margin-right: 0;
  }


  .product-one .product-features__list-item:not(.product-features__list-title) {
    width: 47%;
  }
  .product-one .product-features__list {
    justify-content: space-between;
  }

  .product-one .product-indicators__list,
  .product-one .product-connect__socials-list {
    flex-direction: column;
  }
  .product-one .product-indicators__list-item {
    width: 100%;
  }

  .product-one .product-indicators__rating-item span::before {
    right: 15px;
  }

  .product-one .product-indicators__text-wrapper {
    max-width: 100%;
  }


  .product-one .product-gallery .product-gallery__swiper-button-prev svg,
  .product-one .product-gallery .product-gallery__swiper-button-next svg {
    width: 44px;
    height: 86px;
  }

  .product-one .product-gallery__swiper {
   padding-left: 80px;
   padding-right: 80px;
  }

  .product-one .product-gallery__swiper {
    width: 443px;
  }

  .product-one .product-gallery__swiper::before {
    width: 280px;
    height: 173px;
  }

  .product-one .product-gallery__img {
    width: 277px;
    height: 150px;
  }

  .product-one .product-gallery .swiper-slide img {
    border-radius: 18px;
  }

  .product-one .product-connect__support {
    width: 100%;
    }

  .product-one .product-connect .product-connect__socials {
    width: 100%;
  }

  .product-one .product-connect__support-btn {
    width: 280px;
    height: 60px;
  }

  .product-one .product-career .container {
    flex-direction: column;
    align-items: flex-start;
  }
  .product-one .product-career__btn {
    margin-top: 17px;
  }
  .product-one .page-section.articles > .container h2,
  .product-one .page-section .articles-swiper {
    padding-left: 30px;
    padding-right: 30px;
  }


}

@media (max-width: 520px) {

  .product-one .product-caption__video {
    width: 100%;
    padding-top: 57%;
  }

  .product-one .product-features__list-item:not(.product-features__list-title) {
    width: 100%;
  }
   .product-one .product-gallery .product-gallery__swiper-button-prev svg,
  .product-one .product-gallery .product-gallery__swiper-button-next svg {
    width: 30px;
    height: 56px;
  }

  .product-one .product-gallery__swiper {
    padding-left: 50px;
    padding-right: 50px;
  }

  .product-one .product-gallery__pagination .swiper-pagination-bullet {
    width: 20px;
    border-radius: 30px;
    height: 5px;
  }

  .product-one .product-gallery__pagination .swiper-pagination-bullet-active {
    width: 60px;
  }

  .product-one .product-gallery .product-gallery__swiper-button-prev,
  .product-one .product-gallery .product-gallery__swiper-button-next {
    width: 44px;
  }
  .product-one .product-gallery .product-gallery__swiper-button-next {
    right: 0;
  }


  .product-one .product-gallery__swiper {
    width: 271px;
  }

  .product-one .product-gallery__swiper::before {
    width: 173px;
    height: 100px;
  }

  .product-one .product-gallery__img {
    width: 167px;
    height: 92px;
    border-radius: 0;

  }

  .product-one .product-gallery .swiper-slide img {
    border-radius: 10px;
  }
  .product-one .product-connect__wrap {
    flex-direction: column;
  }
  .product-one .product-connect__support {
    margin-bottom: 26px;
  }
}

@media (max-width: 420px) {
  .product-one .product-caption__video img {
    border-radius: 25px;
  }
}
