@media (max-width: 1280px) {
  .careers-page .careers-cta .container {
    flex-direction: column;
  }

  .careers-page .careers-cta__content {
    margin-right: 0;
    max-width: 85%;
    margin-bottom: 50px;

    h2 {
      text-align: center;
    }
  }


}


@media (max-width: 1024px) {
  .careers-page .careers-caption__inner {
    flex-direction: column;
  }

  .careers-page .careers-caption__menu {
    display: flex;
    width: 100%;
    order: -1;
    margin-bottom: 30px;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .careers-page .careers-caption__menu-btn {
    font-size: 18px;
    line-height: 26px;
    padding: 5px 15px;
  }

  .careers-page .careers-caption__item-title {
    font-size: 40px;
    line-height: 53px;
  }

  .careers-page .careers-caption__item-text {
    font-size: 20px;
    line-height: 25px;
  }

  .careers-page .careers-caption__item-btn {
    font-size: 30px;
    line-height: 45px;
  }

  .careers-page .careers-caption__list-item {
    padding: 38px 20px 10px 20px;
  }

  .careers-page .careers-work__top {
    flex-direction: column;
    align-items: flex-start;
  }

  .careers-page .careers-work__title {
    margin-right: 0;
    margin-bottom: 40px;
    font-size: 40px;
    line-height: 50px;
  }

  .careers-page .careers-cta__title {
    font-size: 40px;
    line-height: 62px;

  }

  .careers-page .careers-cta__btn {
    width: 260px;
    height: 70px;
    font-size: 28px;
    line-height: 38px;
  }


}


@media (max-width: 768px) {
  .careers-page .careers-caption__list {
    width: 100%;
    margin-right: 0;
    height: 1040px;
    padding-right: 30px;
  }


  .careers-page .careers-caption__list-item {
    padding: 20px 20px 10px 20px;
  }

  .careers-page .careers-caption__item-title {
    font-size: 30px;
    line-height: 45px;
  }


  .careers-page .careers-work__menu {
    width: 100%;
    justify-content: space-around;
  }

  .careers-page .careers-work__menu .careers-work__menu-btn {
    border-radius: 30px;
    font-size: 18px;
    line-height: 25px;
    padding: 5px 15px;
  }

  .careers-page .careers-cta__title {
    font-size: 30px;
    line-height: 45px;
  }


}


@media (max-width: 400px) {
  .careers-page .careers-caption__menu {
    flex-direction: column;
    align-items: center;
  }


  .careers-page .careers-caption__list-item {
    height: 360px;
  }

  .careers-page .careers-caption__list {
    height: 1170px;
  }


  .careers-page .careers-work .careers-work-swiper .careers-work__swiper-panel {
    flex-direction: column;
  }

  .careers-page .careers-work .careers-work-swiper .careers-work__swiper-controls {
    order: -1;
    margin-bottom: 20px;
  }


}
