@media (max-width: 1550px) {
  .contacts-page .contacts-map__address {
    left: 20%;
  }
}


@media (max-width: 1280px) {
  .contacts-page .contacts-map__address {
    left: 15%;
  }
}

@media (max-width: 1110px) {
  .contacts-page .contacts-map__address {
    left: 10%;
  }
}

@media (max-width: 1024px) {
  .contacts-page .contacts-map__address {
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    font-size: 25px;
    line-height: 35px;
    width: 390px;
  }

  .contacts-page .contacts-caption__list-item p {
    font-size: 24px;
    line-height: 35px;
  }

  .contacts-page .contacts-caption__list-item:last-child p {
    font-size: 16px;
    line-height: 25px;
  }

}

@media (max-width: 768px) {
  .contacts-page .contacts-caption__title {
    font-size: 42px;
    line-height: 60px;
    margin-bottom: 30px;
  }


  .contacts-page .contacts-caption__list {
    flex-direction: column;
  }

  .contacts-page .contacts-caption__list-item:not(:last-child) {
    padding-right: 0;
    margin-right: 0;
    max-width: 100%;
    border-right: none;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #A5B4C4;
  }

  .contacts-page .contacts-caption__socials-item {
    margin-bottom: 5px;
  }

  .contacts-page .contacts-map__inner {
    background-position: 66% 50%;
    border-radius: 10px;
    height: 360px;
  }

  .contacts-page .contacts-map__address {
    top: 190px;
    font-size: 18px;
    line-height: 25px;
    padding: 15px 10px 15px;
    width: 250px;
  }

}
