@media (max-width: 1280px) {
  .careers-page .careers-caption__list {
    height: 842px;
  }

}

@media (max-width: 1024px) {

  .careers-page .careers-caption__title {
    font-size: 45px;
    line-height: 60px;
  }

  .careers-page .careers-caption__inner {
    flex-direction: column;
  }

  .careers-page .careers-caption__menu {
    display: flex;
    width: 100%;
    order: -1;
    margin-bottom: 30px;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .careers-page .careers-caption__menu-btn {
    font-size: 18px;
    line-height: 26px;
    padding: 5px 15px;
  }


  .careers-page .careers-caption__list {
    height: 490px;
  }

  .careers-page .careers-caption__list-item {
    padding: 15px 20px 15px 20px;
  }

  .careers-page .careers-work {
    padding: 20px 0 0 0;
  }


  .careers-page .careers-work__top {
    flex-direction: column;
    align-items: flex-start;
  }

  .careers-page .careers-caption__application a {
    padding: 18px 15px 22px;
    font-size: 18px;
    line-height: 26px;
  }

  .careers-page .careers-work__title {
    margin-right: 0;
    margin-bottom: 40px;
    font-size: 40px;
    line-height: 50px;
  }

}

@media (max-width: 768px) {
  .careers-page .careers-caption__list {
    width: 100%;
    margin-right: 0;
    height: 472px;
    padding-right: 30px;
  }


  .careers-page .careers-caption__list-item {
    padding: 20px 20px 10px 20px;
    width: 100%;
  }

  .careers-page .careers-caption__item-title {
    font-size: 30px;
    line-height: 45px;
  }


  .careers-page .careers-work__menu {
    width: 100%;
    justify-content: space-around;
  }

  .careers-page .careers-work__menu .careers-work__menu-btn {
    border-radius: 30px;
    font-size: 18px;
    line-height: 25px;
    padding: 5px 15px;
  }


}

@media (max-width: 400px) {
  .careers-page .careers-caption__menu {
    flex-direction: column;
    align-items: center;
  }

  .careers-page .careers-caption__list {
    height: 330px;
  }



  .careers-page .careers-work .careers-work-swiper .careers-work__swiper-panel {
    flex-direction: column;
  }

  .careers-page .careers-work .careers-work-swiper .careers-work__swiper-controls {
    order: -1;
    margin-bottom: 20px;
  }


}
