@media (min-width: 1921px) {
  .product-one .product-caption__container {
    padding-left: 15px;
  }

  .product-one .product-features {
    padding: 88px 0 0 0;
    background-position: center;
    background-size: 103%;
    border-radius: 0 0 0 0;
    width: 100%;
  }

}


@media (max-width: 1650px) {
  .product-one .product-caption__container {
    padding-left: 15px;
  }

  .product-one .product-caption__video {
    width: 47%;
    padding-top: 27%;
  }

  .product-one .product-features {
    padding: 149px 0 50px 0;
  }

}

@media (max-width: 1495px) {
  .product-one .product-caption__content {
    width: 52%;
    margin-right: 40px;
  }

  .product-one .product-caption__video {
    width: 40%;
    padding-top: 23%;
  }

  .product-one .product-features__list-item {
    width: 26%;
  }

  .product-one .product-connect__support {
    width: 37%;
  }
  .product-one .product-connect .product-connect__socials {
    width: 56%;
  }
}

@media (max-width: 1280px) {
  .product-one .product-caption {
    margin-top: 80px;
    margin-bottom: 90px;
  }

  .product-one .product-caption__container {
    flex-direction: column;
  }

  .product-one .product-caption__content {
    width: 80%;
    margin-right: 0;
    margin-bottom: 70px;
  }
  .product-one .product-caption__video {
    width: 49%;
    padding-top: 28%;
  }

  .product-one .product-features__list {
    justify-content: space-around;
  }

  .product-one .product-features__list-title {
    width: 100%;
  }
  .product-one .product-features__list-item {
    margin-bottom: 60px;
  }

  .product-one .product-features {
    padding: 60px 0 50px 0;
  }

  .product-one .product-indicators__list-item {
    font-size: 20px;
    width: 31%;
    text-align: center;

    span {
      font-size: 60px;
      line-height: 158px;
    }
  }

  .product-one .product-indicators__rating-item span::before {
    right: 0;
  }

  .product-one .product-indicators__list-item span {
    margin-bottom: -45px;
  }

  .product-one .product-gallery__swiper {
    width: 1000px;
  }

  .product-one .product-gallery__swiper::before {
    width: 690px;
    height: 434px;
  }

  .product-one .product-gallery__img {
    width: 627px;
    height: 315px;
  }

  .product-one .product-connect__support {
    width: 44%;
  }
  .product-one .product-connect .product-connect__socials {
    width: 55%;
  }

  .product-one .product-career__content {
    margin-right: 70px;
    width: 90%;
  }
}

@media (max-width: 1024px) {
  .product-one .product-caption__content-title {
    font-size: 60px;
    line-height: 72px;
    margin-bottom: 30px;
  }
  .product-one .product-caption__content-desc {
    font-weight: 300;
    font-size: 20px;
    line-height: 34px;
    margin-bottom: 60px;
  }

  .product-one .product-caption__video img {
    border-radius: 35px;
  }

  .product-one .product-features__list-title h2 {
    font-weight: 700;
    font-size: 60px;
    line-height: 75px;
  }

  .product-one .product-features__item-text {
    font-size: 16px;
    line-height: 24px;
  }


  .product-one .product-indicators__rating-item span::before {
    background-size: 70%;
    right: 17px;
  }

  .product-one .product-features {
    margin-bottom: 80px;
  }

  .product-one .product-gallery {
    margin-bottom: 110px;
  }

  .product-one .product-gallery__swiper {
    padding: 0 100px 80px;
  }


  .product-one .product-gallery__swiper {
    width: 738px;
  }

  .product-one .product-gallery__swiper::before {
    width: 537px;
    height: 254px;
    top: 0;
  }

  .product-one .product-gallery__img {
    width: 533px;
    height: 245px;
  }

  .product-one .product-connect {
    margin-bottom: 60px;
  }

  .product-one .product-connect .container {
    flex-direction: column;
  }

  .product-one .product-connect__support {
    width: 80%;
    margin-bottom: 60px;
  }
  .product-one .product-connect .product-connect__socials {
    width: 80%;
  }

}

@media (max-width: 768px) {

  .product-one .product-caption {
    margin-top: 50px;
    margin-bottom: 60px;
  }

  .product-one .product-caption__container {
    padding-right: 30px;
    padding-left: 30px;
  }

  .product-one .product-caption__content {
    width: 100%;
    margin-bottom: 70px;
  }
  .product-one .product-caption__video {
    width: 72%;
    padding-top: 41%;
  }
  .product-one .product-caption__content-title {
    font-size: 45px;
    line-height: 60px;
    margin-bottom: 25px;
    text-align: center;
  }

  .product-one .product-caption__platform-list {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .product-one .product-caption__platform-list li {
    width: 40%;
    margin-right: 0;
    margin-bottom: 20px;
  }


  .product-one .product-features__list-item:not(.product-features__list-title) {
    width: 47%;
  }
  .product-one .product-features__list {
    justify-content: space-between;
  }

  .product-one .product-features {
    padding: 45px 0 0 0;
    border-radius: 0 0 0 0;
    background-size: auto 100%;
    width: 100%;
    margin-bottom: 72px;
  }

  .product-one .product-indicators {
    margin-bottom: 50px;
  }

  .product-one .product-indicators__list {
    flex-direction: column;
  }
  .product-one .product-indicators__list-item {
    width: 100%;
    margin-bottom: 30px;
  }

  .product-one .product-indicators__list-item span {
    line-height: 125px;
    margin-bottom: -30px;
  }

  .product-one .product-indicators__rating-item span::before {
    right: 15px;
  }

  .product-one .product-indicators__text-wrapper {
     max-width: 100%;
  }



  .product-one .product-gallery .product-gallery__swiper-button-prev svg,
  .product-one .product-gallery .product-gallery__swiper-button-next svg {
    width: 44px;
    height: 86px;
  }

  .product-one .product-gallery__swiper {
    padding: 0 80px 60px;
  }

  .product-one .product-gallery__swiper {
    width: 486px;
  }

  .product-one .product-gallery__swiper::before {
    width: 331px;
    height: 173px;
  }

  .product-one .product-gallery__img {
    width: 324px;
    height: 150px;
  }

  .product-one .product-connect__support {
    width: 100%;
    margin-bottom: 60px;
  }

  .product-one .product-connect .product-connect__socials {
    width: 100%;
  }


  .product-one .product-connect__support-text {

    font-size: 20px;
    line-height: 25px;
  }
  .product-one .product-connect__support-btn {
    font-size: 18px;
    line-height: 24px;
    width: 280px;
    height: 60px;
  }

  .product-one .product-career .container {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .product-one .product-career {
    padding: 60px 0;
  }

  .product-one .product-career__content {
    margin-right: 0;
    width: 100%;
    margin-bottom: 35px;text-align: center;

  }

}

@media (max-width: 520px) {

  .product-one .product-caption__video {
    width: 100%;
    padding-top: 57%;
  }
  .product-one .product-caption__content-desc {
    margin-bottom: 30px;
  }
  .product-one .product-caption__content {
    margin-bottom: 50px;
  }
  .product-one .product-features__list-item:not(.product-features__list-title) {
    width: 100%;
  }
  .product-one .product-features__item-img {
    margin-bottom: 10px;
    height: 85px;
  }

  .product-one .product-gallery .product-gallery__swiper-button-prev svg,
  .product-one .product-gallery .product-gallery__swiper-button-next svg {
    width: 30px;
    height: 56px;
  }

  .product-one .product-gallery__swiper {
    padding: 0 50px 40px;
  }

  .product-one .product-gallery__pagination .swiper-pagination-bullet {
    width: 20px;
    border-radius: 30px;
    height: 5px;
  }

  .product-one .product-gallery__pagination .swiper-pagination-bullet-active {
    width: 60px;
  }

  .product-one .product-gallery .product-gallery__swiper-button-prev,
  .product-one .product-gallery .product-gallery__swiper-button-next {
    width: 44px;
  }
  .product-one .product-gallery .product-gallery__swiper-button-next {
    right: 0;
  }


  .product-one .product-gallery__swiper {
    width: 290px;
  }

  .product-one .product-gallery__swiper::before {
    width: 205px;
    height: 100px;
  }

  .product-one .product-gallery__img {
    width: 194px;
    height: 92px;
    border-radius: 0;

  }

  .product-one .product-gallery .swiper-slide img {
    border-radius: 10px;

  }



  .product-one .product-connect__socials-list {
    flex-direction: column;
  }
  .product-one .product-connect__socials-list li {
    margin-right: 0;
  }
}

@media (max-width: 420px) {
  .product-one .product-caption__video img {
    border-radius: 25px;
  }
}
