@media (max-width: 1650px) {
  .articles-body::before {
    opacity: 0.8;
    top: -50%;
  }
}

@media (max-width: 1280px) {
  .articles-page .container {
    justify-content: space-between;
  }

  .articles-page__top {
    flex-direction: column;
    align-items: center;
  }

  .articles-page__title {
    margin-right: 0;
    margin-bottom: 80px;
  }

  .articles-aside {
    width: 315px;
    min-width: 315px;
  }

  .articles-aside__item-img {
    width: 65px;
    margin-right: 12px;
    padding-top: 16%;
  }

}

@media (max-width: 1024px) {

  .articles-aside {
    width: 230px;
    min-width: 230px;
  }

  .articles-aside__item-img {
    width: 100px;
    padding-top: 22%;
  }


  .articles-page__main-desc {
    margin-bottom: 40px;
  }

  .articles-page__menu .articles-page__menu-btn {
    border-radius: 30px;
    padding: 4px 16px;
  }

  .articles-page__menu {
    width: 100%;
    justify-content: space-around;
  }

  .articles-page__list-item {
    width: 100%;
    margin-bottom: 60px;
  }

  .articles-page__item-desc {
    margin-bottom: 15px;
  }

}

@media (max-width: 768px) {
  .articles-page .container {
    flex-direction: column;
  }

  .articles-page__title {
    margin-bottom: 50px;
  }

  .articles-page {
    padding-top: 60px;
  }

  .articles-page__content {
    margin-right: 0;
    margin-bottom: 70px;
  }
  .articles-page__list-item {
    margin-bottom: 30px;
  }

  .articles-page__inner {
    flex-direction: column;
  }

  .articles-aside {
    width: 100%;
    min-width: 100%;
  }
  .articles-aside__item-img {
    width: 100px;
    height: 100px;
    padding-top: 0;
  }

  .articles-aside__item-content {
    width: 60%;
  }

}
