<div class="careers-modals">
  <div class="careers-modal" data-career="career1">
    <div class="careers-modal__form-container careers-form">
      <div class="careers-modal__wrapper">
        <button class="careers-form__back-btn" type="button">
          <svg width="40" height="17" viewBox="0 0 40 17" fill="none"
               xmlns="http://www.w3.org/2000/svg">
            <path d="M39.9995 7.31445H2.20898V9.37137H39.9995V7.31445Z"
                  fill="#D2D6DC"/>
            <path
              d="M0 8.38095L8.99042 0L10.4381 1.44754L3.04762 8.38095L10.4381 15.2381L8.99042 16.6856L0 8.38095Z"
              fill="#D2D6DC"/>
          </svg>
          go back
        </button>
        <h2 class="careers-form__title">
          Apply your cv to lead unity developer
        </h2>

        <form class="careers-form__form" action="#">
          <input class="careers-form__input" type="text" name="careers-name"
                 placeholder="Your name*" required>
          <input class="careers-form__input" type="email" name="careers-email"
                 placeholder="Your e-mail*" required>
          <input class="careers-form__input" type="text" name="careers-username"
                 placeholder="Username in Telegram or any other messenger">

          <div class="careers-form__file-inputs">
            <div class="careers-form__link-wrapper">
              <input class="careers-form__input" type="text" name="careers-link"
                     placeholder="UCV link or Upload CV">
              <svg width="13" height="45" viewBox="0 0 13 45" fill="none"
                   xmlns="http://www.w3.org/2000/svg">
                <rect x="11.2432" width="1" height="46.0202"
                      transform="rotate(14.1415 11.2432 0)" fill="#A5B4C4"/>
              </svg>

            </div>

            <label class="careers-form__input careers-form__input-file">
              <span class="careers-form__file-text" type="text">Attach file with CV</span>
              <input type="file" name="careers-file">
            </label>

          </div>

          <textarea class="careers-form__input careers-form__input-textarea"
                    name="careers-message"
                    placeholder="Message"></textarea>
          <div
            class="careers-form__checkbox-wrapper">
            <input type="checkbox" class="careers-form__checkbox"
                   id="checkCareer" name="checkCareer" required>
            <label for="checkCareer">I give my consent to storing and processing
              of my personal data*</label>
          </div>

          <button class="careers-form__submit-btn">APPLY</button>


        </form>


      </div>
    </div>
    <div class="careers-modal__main _active">
      <div class="careers-modal__wrapper">
        <button class="careers-modal__back-btn" type="button">
          <svg width="40" height="17" viewBox="0 0 40 17" fill="none"
               xmlns="http://www.w3.org/2000/svg">
            <path d="M39.9995 7.31445H2.20898V9.37137H39.9995V7.31445Z"
                  fill="#D2D6DC"/>
            <path
              d="M0 8.38095L8.99042 0L10.4381 1.44754L3.04762 8.38095L10.4381 15.2381L8.99042 16.6856L0 8.38095Z"
              fill="#D2D6DC"/>
          </svg>
          go back
        </button>
        <h2 class="careers-modal__title">
          Lead unity developer
        </h2>
        <div class="careers-modal__content">
          <div class="careers-modal__desc">
            <p>Our company is actively evolving, and now we are looking for a
              Lead
              Unity Developer to join our new team creating a best-in-class game
              with an open economy. The successful candidate will be able to
              bring
              together an excellent technical team, define the solution's
              architecture, and make a diverse contribution to the development
              of a
              unique NFT game. </p>

            <button class="careers-modal__desc-btn careers-modal__apply-btn">
              APPLY FOR THE JOB
            </button>
            <button class="careers-modal__desc-btn careers-modal__rec-btn">
              порекомендовать
            </button>

          </div>
          <div class="careers-modal__lists">
            <ul class="careers-modal__list">
              <li class="careers-modal__list-title">
                You will have the following tasks:
              </li>
              <li class="careers-modal__list-text">
                designing and developing the application architecture;
              </li>
              <li class="careers-modal__list-text">
                taking the lead in the development of a gaming application;
              </li>
              <li class="careers-modal__list-text">
                building and developing the technical team;
              </li>
              <li class="careers-modal__list-text">
                working systematically with technical debt;
              </li>
              <li class="careers-modal__list-text">
                making reasonable technology choices.
              </li>
            </ul>

            <ul class="careers-modal__list">
              <li class="careers-modal__list-title">
                What we expect from you:
              </li>
              <li class="careers-modal__list-text">
                5+ years of experience in a relevant position;
              </li>
              <li class="careers-modal__list-text">
                experience in building an effective technical team;
              </li>
              <li class="careers-modal__list-text">
                excellent knowledge of C# and extensive experience in developing
                applications on Unity;
              </li>
              <li class="careers-modal__list-text">
                understanding the principles of game design and optimization;
              </li>
              <li class="careers-modal__list-text">
                experience in systematic work with technical debt;
              </li>
              <li class="careers-modal__list-text">
                ability to correctly estimate deadlines for significant tasks
                and achieve their timely completion;
              </li>
              <li class="careers-modal__list-text">
                ability to justify your point of view to other experienced
                developers and negotiate with colleagues from other departments.
              </li>
            </ul>
            <ul class="careers-modal__list">
              <li class="careers-modal__list-title">
                We offer:
              </li>
              <li class="careers-modal__list-text">
                exciting and ambitious tasks;
              </li>
              <li class="careers-modal__list-text">
                contribution to the games enjoyed by millions of players around
                the world;
              </li>
              <li class="careers-modal__list-text">
                enhancing skills through a personal development plan and
                knowledge sharing;
              </li>
              <li class="careers-modal__list-text">
                culture of openness, transparency, and common sense;
              </li>
              <li class="careers-modal__list-text">
                bright and memorable events and valuable benefits (like VHI,
                English courses, consultations with a psychologist and birthday
                gifts).
              </li>
            </ul>

            <p class="careers-modal__list-title">
              We’re looking forward to your application!
            </p>

          </div>
        </div>
      </div>
      <div class="careers-modal__materials">
        <div class="careers-modal__wrapper">
          <h3 class="careers-modal__swiper-title">Дополнительные материалы</h3>
          <div class="careers-modal__swiper careers-modals-swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="swiper-slide__wrapper">
                  <a href="#"
                     class="careers-modals-swiper__category">Interview</a>
                  <div class="careers-modals-swiper__content swiper-no-swiping">
                    <p class="careers-modals-swiper__caption">Transparency is an
                      essential part of our values</p>

                    <p class="careers-modals-swiper__text">We love to host
                      guests and spontaneous events in our cozy offices. Because
                      life is not just about work, you know... </p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="swiper-slide__wrapper">
                  <a href="#" class="careers-modals-swiper__category">Events</a>
                  <div class="careers-modals-swiper__content swiper-no-swiping">
                    <p class="careers-modals-swiper__caption">Transparency is an
                      essential part of our values</p>

                    <p class="careers-modals-swiper__text">We love to host
                      guests and spontaneous events in our cozy offices. Because
                      life is not just about work, you know... </p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="swiper-slide__wrapper">
                  <a href="#"
                     class="careers-modals-swiper__category">Bonuses</a>
                  <div class="careers-modals-swiper__content swiper-no-swiping">
                    <p class="careers-modals-swiper__caption">How to draw icons
                      of different complexity levels</p>

                    <p class="careers-modals-swiper__text">We love to host
                      guests and spontaneous events in our cozy offices. Because
                      life is not just about work, you know... </p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="swiper-slide__wrapper">
                  <a href="#" class="careers-modals-swiper__category">Events</a>
                  <div class="careers-modals-swiper__content swiper-no-swiping">
                    <p class="careers-modals-swiper__caption">Transparency is an
                      essential part of our values</p>

                    <p class="careers-modals-swiper__text">We love to host
                      guests and spontaneous events in our cozy offices. Because
                      life is not just about work, you know... </p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="swiper-slide__wrapper">
                  <a href="#"
                     class="careers-modals-swiper__category">Bonuses</a>
                  <div class="careers-modals-swiper__content swiper-no-swiping">
                    <p class="careers-modals-swiper__caption">How to draw icons
                      of different complexity levels</p>

                    <p class="careers-modals-swiper__text">We love to host
                      guests and spontaneous events in our cozy offices. Because
                      life is not just about work, you know... </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="careers-modals-swiper__swiper-panel">
              <button class="careers-modals-swiper__btn">
                View all
              </button>
              <div class="careers-modals-swiper__swiper-controls">
                <button class="careers-modals-swiper__swiper-button-prev">
                  <svg width="54" height="23" viewBox="0 0 54 23" fill="none"
                       xmlns="http://www.w3.org/2000/svg">
                    <path d="M53.1 10.2H3.5V12.9H53.1V10.2Z" fill="#D2D6DC"/>
                    <path
                      d="M0.699951 11.6L12.5 0.5L14.3 2.5L4.59998 11.6L14.3 20.6L12.5 22.5L0.699951 11.6Z"
                      fill="#D2D6DC"/>
                  </svg>
                </button>
                <button class="careers-modals-swiper__swiper-button-next">
                  <svg width="54" height="23" viewBox="0 0 54 23" fill="none"
                       xmlns="http://www.w3.org/2000/svg">
                    <path d="M50.1 10.2H0.5V12.9H50.1V10.2Z" fill="#D2D6DC"/>
                    <path
                      d="M41.2 22.5L39.4 20.6L49.1 11.6L39.4 2.5L41.2 0.5L53.1 11.6L41.2 22.5Z"
                      fill="#D2D6DC"/>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="careers-modal" data-career="career2">
    <div class="careers-modal__form-container careers-form">
      <div class="careers-modal__wrapper">
        <button class="careers-form__back-btn" type="button">
          <svg width="40" height="17" viewBox="0 0 40 17" fill="none"
               xmlns="http://www.w3.org/2000/svg">
            <path d="M39.9995 7.31445H2.20898V9.37137H39.9995V7.31445Z"
                  fill="#D2D6DC"/>
            <path
              d="M0 8.38095L8.99042 0L10.4381 1.44754L3.04762 8.38095L10.4381 15.2381L8.99042 16.6856L0 8.38095Z"
              fill="#D2D6DC"/>
          </svg>
          go back
        </button>
        <h2 class="careers-form__title">
          Apply your cv to lead unity developer
        </h2>

        <form class="careers-form__form" action="#">
          <input class="careers-form__input" type="text" name="careers-name"
                 placeholder="Your name*" required>
          <input class="careers-form__input" type="email" name="careers-email"
                 placeholder="Your e-mail*" required>
          <input class="careers-form__input" type="text" name="careers-username"
                 placeholder="Username in Telegram or any other messenger">

          <div class="careers-form__file-inputs">
            <div class="careers-form__link-wrapper">
              <input class="careers-form__input" type="text" name="careers-link"
                     placeholder="UCV link or Upload CV">
              <svg width="13" height="45" viewBox="0 0 13 45" fill="none"
                   xmlns="http://www.w3.org/2000/svg">
                <rect x="11.2432" width="1" height="46.0202"
                      transform="rotate(14.1415 11.2432 0)" fill="#A5B4C4"/>
              </svg>

            </div>

            <label class="careers-form__input careers-form__input-file">
              <span class="careers-form__file-text" type="text">Attach file with CV</span>
              <input type="file" name="careers-file">
            </label>

          </div>

          <div class="careers-form__textarea-wrapper">
            <textarea class="careers-form__input careers-form__input-textarea"
                      name="careers-message" placeholder="Message"></textarea>
          </div>

          <div
            class="careers-form__checkbox-wrapper">
            <input type="checkbox" class="careers-form__checkbox"
                   id="checkCareer1" name="checkCareer" required>
            <label for="checkCareer1">I give my consent to storing and
              processing
              of my personal data*</label>
          </div>

          <button class="careers-form__submit-btn">APPLY</button>


        </form>


      </div>
    </div>
    <div class="careers-modal__main _active">
      <div class="careers-modal__wrapper">
        <button class="careers-modal__back-btn" type="button">
          <svg width="40" height="17" viewBox="0 0 40 17" fill="none"
               xmlns="http://www.w3.org/2000/svg">
            <path d="M39.9995 7.31445H2.20898V9.37137H39.9995V7.31445Z"
                  fill="#D2D6DC"/>
            <path
              d="M0 8.38095L8.99042 0L10.4381 1.44754L3.04762 8.38095L10.4381 15.2381L8.99042 16.6856L0 8.38095Z"
              fill="#D2D6DC"/>
          </svg>
          go back
        </button>
        <h2 class="careers-modal__title">
          Art lead
        </h2>
        <div class="careers-modal__content">
          <div class="careers-modal__desc">
            <p>Our company is actively evolving, and now we are looking for a
              Lead
              Unity Developer to join our new team creating a best-in-class game
              with an open economy. The successful candidate will be able to
              bring
              together an excellent technical team, define the solution's
              architecture, and make a diverse contribution to the development
              of a
              unique NFT game. </p>

            <button class="careers-modal__desc-btn careers-modal__apply-btn">
              APPLY FOR THE JOB
            </button>
            <button class="careers-modal__desc-btn careers-modal__rec-btn">
              порекомендовать
            </button>

          </div>
          <div class="careers-modal__lists">
            <ul class="careers-modal__list">
              <li class="careers-modal__list-title">
                You will have the following tasks:
              </li>
              <li class="careers-modal__list-text">
                designing and developing the application architecture;
              </li>
              <li class="careers-modal__list-text">
                taking the lead in the development of a gaming application;
              </li>
              <li class="careers-modal__list-text">
                building and developing the technical team;
              </li>
              <li class="careers-modal__list-text">
                working systematically with technical debt;
              </li>
              <li class="careers-modal__list-text">
                making reasonable technology choices.
              </li>
            </ul>

            <ul class="careers-modal__list">
              <li class="careers-modal__list-title">
                We offer:
              </li>
              <li class="careers-modal__list-text">
                exciting and ambitious tasks;
              </li>
              <li class="careers-modal__list-text">
                contribution to the games enjoyed by millions of players around
                the world;
              </li>
              <li class="careers-modal__list-text">
                enhancing skills through a personal development plan and
                knowledge sharing;
              </li>
              <li class="careers-modal__list-text">
                culture of openness, transparency, and common sense;
              </li>
              <li class="careers-modal__list-text">
                bright and memorable events and valuable benefits (like VHI,
                English courses, consultations with a psychologist and birthday
                gifts).
              </li>
            </ul>

            <p class="careers-modal__list-title">
              We’re looking forward to your application!
            </p>

          </div>
        </div>
      </div>
      <div class="careers-modal__materials">
        <div class="careers-modal__wrapper">
          <h3 class="careers-modal__swiper-title">Дополнительные материалы</h3>
          <div class="careers-modal__swiper careers-modals-swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="swiper-slide__wrapper">
                  <a href="#"
                     class="careers-modals-swiper__category">Interview</a>
                  <div class="careers-modals-swiper__content swiper-no-swiping">
                    <p class="careers-modals-swiper__caption">Transparency is an
                      essential part of our values</p>

                    <p class="careers-modals-swiper__text">We love to host
                      guests and spontaneous events in our cozy offices. Because
                      life is not just about work, you know... </p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="swiper-slide__wrapper">
                  <a href="#" class="careers-modals-swiper__category">Events</a>
                  <div class="careers-modals-swiper__content swiper-no-swiping">
                    <p class="careers-modals-swiper__caption">Transparency is an
                      essential part of our values</p>

                    <p class="careers-modals-swiper__text">We love to host
                      guests and spontaneous events in our cozy offices. Because
                      life is not just about work, you know... </p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="swiper-slide__wrapper">
                  <a href="#"
                     class="careers-modals-swiper__category">Bonuses</a>
                  <div class="careers-modals-swiper__content swiper-no-swiping">
                    <p class="careers-modals-swiper__caption">How to draw icons
                      of different complexity levels</p>

                    <p class="careers-modals-swiper__text">We love to host
                      guests and spontaneous events in our cozy offices. Because
                      life is not just about work, you know... </p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="swiper-slide__wrapper">
                  <a href="#" class="careers-modals-swiper__category">Events</a>
                  <div class="careers-modals-swiper__content swiper-no-swiping">
                    <p class="careers-modals-swiper__caption">Transparency is an
                      essential part of our values</p>

                    <p class="careers-modals-swiper__text">We love to host
                      guests and spontaneous events in our cozy offices. Because
                      life is not just about work, you know... </p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="swiper-slide__wrapper">
                  <a href="#"
                     class="careers-modals-swiper__category">Bonuses</a>
                  <div class="careers-modals-swiper__content swiper-no-swiping">
                    <p class="careers-modals-swiper__caption">How to draw icons
                      of different complexity levels</p>

                    <p class="careers-modals-swiper__text">We love to host
                      guests and spontaneous events in our cozy offices. Because
                      life is not just about work, you know... </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="careers-modals-swiper__swiper-panel">
              <button class="careers-modals-swiper__btn">
                View all
              </button>
              <div class="careers-modals-swiper__swiper-controls">
                <button class="careers-modals-swiper__swiper-button-prev">
                  <svg width="54" height="23" viewBox="0 0 54 23" fill="none"
                       xmlns="http://www.w3.org/2000/svg">
                    <path d="M53.1 10.2H3.5V12.9H53.1V10.2Z" fill="#D2D6DC"/>
                    <path
                      d="M0.699951 11.6L12.5 0.5L14.3 2.5L4.59998 11.6L14.3 20.6L12.5 22.5L0.699951 11.6Z"
                      fill="#D2D6DC"/>
                  </svg>
                </button>
                <button class="careers-modals-swiper__swiper-button-next">
                  <svg width="54" height="23" viewBox="0 0 54 23" fill="none"
                       xmlns="http://www.w3.org/2000/svg">
                    <path d="M50.1 10.2H0.5V12.9H50.1V10.2Z" fill="#D2D6DC"/>
                    <path
                      d="M41.2 22.5L39.4 20.6L49.1 11.6L39.4 2.5L41.2 0.5L53.1 11.6L41.2 22.5Z"
                      fill="#D2D6DC"/>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="careers-modal" data-career="career3">
    <div class="careers-modal__form-container careers-form">
      <div class="careers-modal__wrapper">
        <button class="careers-form__back-btn" type="button">
          <svg width="40" height="17" viewBox="0 0 40 17" fill="none"
               xmlns="http://www.w3.org/2000/svg">
            <path d="M39.9995 7.31445H2.20898V9.37137H39.9995V7.31445Z"
                  fill="#D2D6DC"/>
            <path
              d="M0 8.38095L8.99042 0L10.4381 1.44754L3.04762 8.38095L10.4381 15.2381L8.99042 16.6856L0 8.38095Z"
              fill="#D2D6DC"/>
          </svg>
          go back
        </button>
        <h2 class="careers-form__title">
          Apply your cv to lead unity developer
        </h2>

        <form class="careers-form__form" action="#">
          <input class="careers-form__input" type="text" name="careers-name"
                 placeholder="Your name*" required>
          <input class="careers-form__input" type="email" name="careers-email"
                 placeholder="Your e-mail*" required>
          <input class="careers-form__input" type="text" name="careers-username"
                 placeholder="Username in Telegram or any other messenger">

          <div class="careers-form__file-inputs">
            <div class="careers-form__link-wrapper">
              <input class="careers-form__input" type="text" name="careers-link"
                     placeholder="UCV link or Upload CV">
              <svg width="13" height="45" viewBox="0 0 13 45" fill="none"
                   xmlns="http://www.w3.org/2000/svg">
                <rect x="11.2432" width="1" height="46.0202"
                      transform="rotate(14.1415 11.2432 0)" fill="#A5B4C4"/>
              </svg>

            </div>

            <label class="careers-form__input careers-form__input-file">
              <span class="careers-form__file-text" type="text">Attach file with CV</span>
              <input type="file" name="careers-file">
            </label>

          </div>

          <div class="careers-form__textarea-wrapper">
            <textarea class="careers-form__input careers-form__input-textarea"
                      name="careers-message" placeholder="Message"></textarea>
          </div>

          <div
            class="careers-form__checkbox-wrapper">
            <input type="checkbox" class="careers-form__checkbox"
                   id="checkCareer3" name="checkCareer" required>
            <label for="checkCareer3">I give my consent to storing and
              processing
              of my personal data*</label>
          </div>

          <button class="careers-form__submit-btn">APPLY</button>


        </form>


      </div>
    </div>
    <div class="careers-modal__main _active">
      <div class="careers-modal__wrapper">
        <button class="careers-modal__back-btn" type="button">
          <svg width="40" height="17" viewBox="0 0 40 17" fill="none"
               xmlns="http://www.w3.org/2000/svg">
            <path d="M39.9995 7.31445H2.20898V9.37137H39.9995V7.31445Z"
                  fill="#D2D6DC"/>
            <path
              d="M0 8.38095L8.99042 0L10.4381 1.44754L3.04762 8.38095L10.4381 15.2381L8.99042 16.6856L0 8.38095Z"
              fill="#D2D6DC"/>
          </svg>
          go back
        </button>
        <h2 class="careers-modal__title">
          Character interaction designer (mental health)
        </h2>
        <div class="careers-modal__content">
          <div class="careers-modal__desc">
            <p>Our company is actively evolving, and now we are looking for a
              Lead
              Unity Developer to join our new team creating a best-in-class game
              with an open economy. The successful candidate will be able to
              bring
              together an excellent technical team, define the solution's
              architecture, and make a diverse contribution to the development
              of a
              unique NFT game. </p>

            <button class="careers-modal__desc-btn careers-modal__apply-btn">
              APPLY FOR THE JOB
            </button>
            <button class="careers-modal__desc-btn careers-modal__rec-btn">
              порекомендовать
            </button>

          </div>
          <div class="careers-modal__lists">
            <ul class="careers-modal__list">
              <li class="careers-modal__list-title">
                You will have the following tasks:
              </li>
              <li class="careers-modal__list-text">
                designing and developing the application architecture;
              </li>
              <li class="careers-modal__list-text">
                taking the lead in the development of a gaming application;
              </li>
              <li class="careers-modal__list-text">
                building and developing the technical team;
              </li>
              <li class="careers-modal__list-text">
                working systematically with technical debt;
              </li>
              <li class="careers-modal__list-text">
                making reasonable technology choices.
              </li>
            </ul>

            <ul class="careers-modal__list">
              <li class="careers-modal__list-title">
                What we expect from you:
              </li>
              <li class="careers-modal__list-text">
                5+ years of experience in a relevant position;
              </li>
              <li class="careers-modal__list-text">
                experience in building an effective technical team;
              </li>
              <li class="careers-modal__list-text">
                excellent knowledge of C# and extensive experience in developing
                applications on Unity;
              </li>
              <li class="careers-modal__list-text">
                understanding the principles of game design and optimization;
              </li>
              <li class="careers-modal__list-text">
                experience in systematic work with technical debt;
              </li>
              <li class="careers-modal__list-text">
                ability to correctly estimate deadlines for significant tasks
                and achieve their timely completion;
              </li>
              <li class="careers-modal__list-text">
                ability to justify your point of view to other experienced
                developers and negotiate with colleagues from other departments.
              </li>
            </ul>
            <ul class="careers-modal__list">
              <li class="careers-modal__list-title">
                We offer:
              </li>
              <li class="careers-modal__list-text">
                exciting and ambitious tasks;
              </li>
              <li class="careers-modal__list-text">
                contribution to the games enjoyed by millions of players around
                the world;
              </li>
              <li class="careers-modal__list-text">
                enhancing skills through a personal development plan and
                knowledge sharing;
              </li>
              <li class="careers-modal__list-text">
                culture of openness, transparency, and common sense;
              </li>
              <li class="careers-modal__list-text">
                bright and memorable events and valuable benefits (like VHI,
                English courses, consultations with a psychologist and birthday
                gifts).
              </li>
            </ul>

            <p class="careers-modal__list-title">
              We’re looking forward to your application!
            </p>

          </div>
        </div>
      </div>
      <div class="careers-modal__materials">
        <div class="careers-modal__wrapper">
          <h3 class="careers-modal__swiper-title">Дополнительные материалы</h3>
          <div class="careers-modal__swiper careers-modals-swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="swiper-slide__wrapper">
                  <a href="#"
                     class="careers-modals-swiper__category">Interview</a>
                  <div class="careers-modals-swiper__content swiper-no-swiping">
                    <p class="careers-modals-swiper__caption">Transparency is an
                      essential part of our values</p>

                    <p class="careers-modals-swiper__text">We love to host
                      guests and spontaneous events in our cozy offices. Because
                      life is not just about work, you know... </p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="swiper-slide__wrapper">
                  <a href="#" class="careers-modals-swiper__category">Events</a>
                  <div class="careers-modals-swiper__content swiper-no-swiping">
                    <p class="careers-modals-swiper__caption">Transparency is an
                      essential part of our values</p>

                    <p class="careers-modals-swiper__text">We love to host
                      guests and spontaneous events in our cozy offices. Because
                      life is not just about work, you know... </p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="swiper-slide__wrapper">
                  <a href="#"
                     class="careers-modals-swiper__category">Bonuses</a>
                  <div class="careers-modals-swiper__content swiper-no-swiping">
                    <p class="careers-modals-swiper__caption">How to draw icons
                      of different complexity levels</p>

                    <p class="careers-modals-swiper__text">We love to host
                      guests and spontaneous events in our cozy offices. Because
                      life is not just about work, you know... </p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="swiper-slide__wrapper">
                  <a href="#" class="careers-modals-swiper__category">Events</a>
                  <div class="careers-modals-swiper__content swiper-no-swiping">
                    <p class="careers-modals-swiper__caption">Transparency is an
                      essential part of our values</p>

                    <p class="careers-modals-swiper__text">We love to host
                      guests and spontaneous events in our cozy offices. Because
                      life is not just about work, you know... </p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="swiper-slide__wrapper">
                  <a href="#"
                     class="careers-modals-swiper__category">Bonuses</a>
                  <div class="careers-modals-swiper__content swiper-no-swiping">
                    <p class="careers-modals-swiper__caption">How to draw icons
                      of different complexity levels</p>

                    <p class="careers-modals-swiper__text">We love to host
                      guests and spontaneous events in our cozy offices. Because
                      life is not just about work, you know... </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="careers-modals-swiper__swiper-panel">
              <button class="careers-modals-swiper__btn">
                View all
              </button>
              <div class="careers-modals-swiper__swiper-controls">
                <button class="careers-modals-swiper__swiper-button-prev">
                  <svg width="54" height="23" viewBox="0 0 54 23" fill="none"
                       xmlns="http://www.w3.org/2000/svg">
                    <path d="M53.1 10.2H3.5V12.9H53.1V10.2Z" fill="#D2D6DC"/>
                    <path
                      d="M0.699951 11.6L12.5 0.5L14.3 2.5L4.59998 11.6L14.3 20.6L12.5 22.5L0.699951 11.6Z"
                      fill="#D2D6DC"/>
                  </svg>
                </button>
                <button class="careers-modals-swiper__swiper-button-next">
                  <svg width="54" height="23" viewBox="0 0 54 23" fill="none"
                       xmlns="http://www.w3.org/2000/svg">
                    <path d="M50.1 10.2H0.5V12.9H50.1V10.2Z" fill="#D2D6DC"/>
                    <path
                      d="M41.2 22.5L39.4 20.6L49.1 11.6L39.4 2.5L41.2 0.5L53.1 11.6L41.2 22.5Z"
                      fill="#D2D6DC"/>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="careers-modal" data-career="career4">
    <div class="careers-modal__form-container careers-form">
      <div class="careers-modal__wrapper">
        <button class="careers-form__back-btn" type="button">
          <svg width="40" height="17" viewBox="0 0 40 17" fill="none"
               xmlns="http://www.w3.org/2000/svg">
            <path d="M39.9995 7.31445H2.20898V9.37137H39.9995V7.31445Z"
                  fill="#D2D6DC"/>
            <path
              d="M0 8.38095L8.99042 0L10.4381 1.44754L3.04762 8.38095L10.4381 15.2381L8.99042 16.6856L0 8.38095Z"
              fill="#D2D6DC"/>
          </svg>
          go back
        </button>
        <h2 class="careers-form__title">
          Apply your cv to lead unity developer
        </h2>

        <form class="careers-form__form" action="#">
          <input class="careers-form__input" type="text" name="careers-name"
                 placeholder="Your name*" required>
          <input class="careers-form__input" type="email" name="careers-email"
                 placeholder="Your e-mail*" required>
          <input class="careers-form__input" type="text" name="careers-username"
                 placeholder="Username in Telegram or any other messenger">

          <div class="careers-form__file-inputs">
            <div class="careers-form__link-wrapper">
              <input class="careers-form__input" type="text" name="careers-link"
                     placeholder="UCV link or Upload CV">
              <svg width="13" height="45" viewBox="0 0 13 45" fill="none"
                   xmlns="http://www.w3.org/2000/svg">
                <rect x="11.2432" width="1" height="46.0202"
                      transform="rotate(14.1415 11.2432 0)" fill="#A5B4C4"/>
              </svg>

            </div>

            <label class="careers-form__input careers-form__input-file">
              <span class="careers-form__file-text" type="text">Attach file with CV</span>
              <input type="file" name="careers-file">
            </label>

          </div>

          <div class="careers-form__textarea-wrapper">
            <textarea class="careers-form__input careers-form__input-textarea"
                      name="careers-message" placeholder="Message"></textarea>
          </div>

          <div
            class="careers-form__checkbox-wrapper">
            <input type="checkbox" class="careers-form__checkbox"
                   id="checkCareer4" name="checkCareer" required>
            <label for="checkCareer4">I give my consent to storing and
              processing
              of my personal data*</label>
          </div>

          <button class="careers-form__submit-btn">APPLY</button>


        </form>


      </div>
    </div>
    <div class="careers-modal__main _active">
      <div class="careers-modal__wrapper">
        <button class="careers-modal__back-btn" type="button">
          <svg width="40" height="17" viewBox="0 0 40 17" fill="none"
               xmlns="http://www.w3.org/2000/svg">
            <path d="M39.9995 7.31445H2.20898V9.37137H39.9995V7.31445Z"
                  fill="#D2D6DC"/>
            <path
              d="M0 8.38095L8.99042 0L10.4381 1.44754L3.04762 8.38095L10.4381 15.2381L8.99042 16.6856L0 8.38095Z"
              fill="#D2D6DC"/>
          </svg>
          go back
        </button>
        <h2 class="careers-modal__title">
          Art lead
        </h2>
        <div class="careers-modal__content">
          <div class="careers-modal__desc">
            <p>Our company is actively evolving, and now we are looking for a
              Lead
              Unity Developer to join our new team creating a best-in-class game
              with an open economy. The successful candidate will be able to
              bring
              together an excellent technical team, define the solution's
              architecture, and make a diverse contribution to the development
              of a
              unique NFT game. </p>

            <button class="careers-modal__desc-btn careers-modal__apply-btn">
              APPLY FOR THE JOB
            </button>
            <button class="careers-modal__desc-btn careers-modal__rec-btn">
              порекомендовать
            </button>

          </div>
          <div class="careers-modal__lists">
            <ul class="careers-modal__list">
              <li class="careers-modal__list-title">
                You will have the following tasks:
              </li>
              <li class="careers-modal__list-text">
                designing and developing the application architecture;
              </li>
              <li class="careers-modal__list-text">
                taking the lead in the development of a gaming application;
              </li>
              <li class="careers-modal__list-text">
                building and developing the technical team;
              </li>
              <li class="careers-modal__list-text">
                working systematically with technical debt;
              </li>
              <li class="careers-modal__list-text">
                making reasonable technology choices.
              </li>
            </ul>

            <ul class="careers-modal__list">
              <li class="careers-modal__list-title">
                We offer:
              </li>
              <li class="careers-modal__list-text">
                exciting and ambitious tasks;
              </li>
              <li class="careers-modal__list-text">
                contribution to the games enjoyed by millions of players around
                the world;
              </li>
              <li class="careers-modal__list-text">
                enhancing skills through a personal development plan and
                knowledge sharing;
              </li>
              <li class="careers-modal__list-text">
                culture of openness, transparency, and common sense;
              </li>
              <li class="careers-modal__list-text">
                bright and memorable events and valuable benefits (like VHI,
                English courses, consultations with a psychologist and birthday
                gifts).
              </li>
            </ul>

            <p class="careers-modal__list-title">
              We’re looking forward to your application!
            </p>

          </div>
        </div>
      </div>
      <div class="careers-modal__materials">
        <div class="careers-modal__wrapper">
          <h3 class="careers-modal__swiper-title">Дополнительные материалы</h3>
          <div class="careers-modal__swiper careers-modals-swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="swiper-slide__wrapper">
                  <a href="#"
                     class="careers-modals-swiper__category">Interview</a>
                  <div class="careers-modals-swiper__content swiper-no-swiping">
                    <p class="careers-modals-swiper__caption">Transparency is an
                      essential part of our values</p>

                    <p class="careers-modals-swiper__text">We love to host
                      guests and spontaneous events in our cozy offices. Because
                      life is not just about work, you know... </p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="swiper-slide__wrapper">
                  <a href="#" class="careers-modals-swiper__category">Events</a>
                  <div class="careers-modals-swiper__content swiper-no-swiping">
                    <p class="careers-modals-swiper__caption">Transparency is an
                      essential part of our values</p>

                    <p class="careers-modals-swiper__text">We love to host
                      guests and spontaneous events in our cozy offices. Because
                      life is not just about work, you know... </p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="swiper-slide__wrapper">
                  <a href="#"
                     class="careers-modals-swiper__category">Bonuses</a>
                  <div class="careers-modals-swiper__content swiper-no-swiping">
                    <p class="careers-modals-swiper__caption">How to draw icons
                      of different complexity levels</p>

                    <p class="careers-modals-swiper__text">We love to host
                      guests and spontaneous events in our cozy offices. Because
                      life is not just about work, you know... </p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="swiper-slide__wrapper">
                  <a href="#" class="careers-modals-swiper__category">Events</a>
                  <div class="careers-modals-swiper__content swiper-no-swiping">
                    <p class="careers-modals-swiper__caption">Transparency is an
                      essential part of our values</p>

                    <p class="careers-modals-swiper__text">We love to host
                      guests and spontaneous events in our cozy offices. Because
                      life is not just about work, you know... </p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="swiper-slide__wrapper">
                  <a href="#"
                     class="careers-modals-swiper__category">Bonuses</a>
                  <div class="careers-modals-swiper__content swiper-no-swiping">
                    <p class="careers-modals-swiper__caption">How to draw icons
                      of different complexity levels</p>

                    <p class="careers-modals-swiper__text">We love to host
                      guests and spontaneous events in our cozy offices. Because
                      life is not just about work, you know... </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="careers-modals-swiper__swiper-panel">
              <button class="careers-modals-swiper__btn">
                View all
              </button>
              <div class="careers-modals-swiper__swiper-controls">
                <button class="careers-modals-swiper__swiper-button-prev">
                  <svg width="54" height="23" viewBox="0 0 54 23" fill="none"
                       xmlns="http://www.w3.org/2000/svg">
                    <path d="M53.1 10.2H3.5V12.9H53.1V10.2Z" fill="#D2D6DC"/>
                    <path
                      d="M0.699951 11.6L12.5 0.5L14.3 2.5L4.59998 11.6L14.3 20.6L12.5 22.5L0.699951 11.6Z"
                      fill="#D2D6DC"/>
                  </svg>
                </button>
                <button class="careers-modals-swiper__swiper-button-next">
                  <svg width="54" height="23" viewBox="0 0 54 23" fill="none"
                       xmlns="http://www.w3.org/2000/svg">
                    <path d="M50.1 10.2H0.5V12.9H50.1V10.2Z" fill="#D2D6DC"/>
                    <path
                      d="M41.2 22.5L39.4 20.6L49.1 11.6L39.4 2.5L41.2 0.5L53.1 11.6L41.2 22.5Z"
                      fill="#D2D6DC"/>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
