<header class="header">
  <div class="container">
    <div class="header__top @class">
      <div class="header__logo">
        <a href="index.html">
          <img src="img/logo.png" alt="logo">
        </a>
      </div>
      <nav class="header__nav nav">
        <ul class="nav__list">
          <li class="nav__list-item"><a href="company.html">company</a></li>
          <li class="nav__list-item"><a href="products.html">games</a></li>
          <li class="nav__list-item"><a href="articles.html">blog</a></li>
          <li class="nav__list-item"><a href="careers.html">careers</a></li>
          <li class="nav__list-item"><a href="contacts.html">contacts</a></li>
        </ul>
      </nav>
      <div class="header__controls">
        <button class="search-btn">
          <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_302_2)">
              <path d="M0.900024 11.8C0.900024 18.2 6.00002 23.3 12.5 23.3C15.6 23.3 18.5 22.1 20.7 19.9C22.9 17.7 24.1 14.8 24.1 11.7C24.1 5.2 18.9 0 12.5 0C6.10002 0.1 0.900024 5.4 0.900024 11.8ZM12.4 2.7C17.4 2.7 21.4 6.8 21.4 11.7C21.4 14.1 20.4 16.5 18.7 18.1C17 19.8 14.7 20.8 12.4 20.8C7.50002 20.8 3.40002 16.7 3.40002 11.8C3.30002 6.8 7.40002 2.7 12.4 2.7Z" fill="#1C283A"/>
              <path d="M27.7 25L25.6 27.2001C25.4 27.5001 24.9 27.4001 24.7 27.2001L20.1 21.9L22.2 19.8L27.7 24.2001C27.9 24.3001 28 24.8 27.7 25Z" fill="#1C283A"/>
            </g>
            <defs>
              <clipPath id="clip0_302_2">
                <rect width="27" height="27.4" fill="white" transform="translate(0.900024)"/>
              </clipPath>
            </defs>
          </svg>
        </button>
        <div class="lang-switch">
          <button class="lang-switch__en active-lang" type="button">En</button>
          <button class="lang-switch__ru" type="button">Ru</button>
        </div>
      </div>
      <div class="search-menu">
        <button class="close-btn">
          <svg width="32" height="32" viewBox="0 0 32 32" fill="none"
               xmlns="http://www.w3.org/2000/svg">
            <path
              d="M1.7002 31.5C2.1002 31.5 2.4002 31.4 2.7002 31.2L15.7002 18L28.7002 31C28.9002 31.2 29.2002 31.3 29.7002 31.3C30.1002 31.3 30.4002 31.2 30.7002 31C31.0002 30.7 31.1002 30.4 31.1002 30.1C31.1002 29.8 31.0002 29.5 30.7002 29.2L17.5002 16.2L30.7002 3.20002C30.9002 2.90002 31.1002 2.60003 31.1002 2.30003C31.1002 2.00003 31.0002 1.70002 30.7002 1.40002C30.2002 0.900024 29.4003 0.900024 28.9003 1.40002L15.7002 14.4L2.7002 1.20002C2.5002 1.00002 2.1002 0.900024 1.7002 0.900024C1.3002 0.900024 1.0002 1.00002 0.700195 1.20002C0.500195 1.40002 0.400293 1.70002 0.300293 2.00002C0.300293 2.40002 0.400195 2.70002 0.700195 3.00002L13.9003 16.2L0.700195 29.2C0.500195 29.5 0.300293 29.8 0.300293 30.1C0.300293 30.4 0.400195 30.7 0.700195 31C1.0002 31.4 1.2002 31.5 1.7002 31.5Z"
              fill="#A5B4C4"/>
          </svg>
        </button>
        <form class="search-menu__form" action="#" autocomplete="off">
          <input class="search-menu__input" type="text"
                 placeholder="Search">
        </form>
        <div class="search-menu__content">
          <p class="search-menu__results category-text">
            3 results
          </p>
          <ul class="search-menu__list search-list">
            <li class="search-list__item">
              <a class="search-list__title-link main-link" href="#">Senior game
                designer</a>
              <a class="search-list__remote-link category-text" href="#">Remote</a>
            </li>
            <li class="search-list__item">
              <a class="search-list__title-link main-link" href="#">Lead unity
                developer</a>
              <a class="search-list__remote-link category-text" href="#">Remote</a>
            </li>
            <li class="search-list__item">
              <a class="search-list__title-link main-link" href="#">Art lead</a>
              <a class="search-list__remote-link category-text" href="#">Remote</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="burger-btn">
        <svg fill="#000000" xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 30 30" width="60px" height="60px">
          <path
            d="M 3 7 A 1.0001 1.0001 0 1 0 3 9 L 27 9 A 1.0001 1.0001 0 1 0 27 7 L 3 7 z M 3 14 A 1.0001 1.0001 0 1 0 3 16 L 27 16 A 1.0001 1.0001 0 1 0 27 14 L 3 14 z M 3 21 A 1.0001 1.0001 0 1 0 3 23 L 27 23 A 1.0001 1.0001 0 1 0 27 21 L 3 21 z"/>
        </svg>
      </div>
    </div>
  </div>
</header>
