html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 340px;
  overflow-x: hidden;
  font-size: 18px;
  line-height: 28px;
  position: relative;
  @include montserrat-regular;
  color: $primary;

  &._lock {
    overflow-y: hidden;
  }
}

main {
  min-height: calc(100vh - 273px);
  @media (max-width: 1024px) {
    min-height: calc(100vh - 266px);
  }
  @media (max-width: 768px) {
    min-height: calc(100vh - 348px);
  }
}


ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}

img {
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

select::-ms-expand {
  display: none;
}

.container {
  max-width: 1664px;
  padding: 0 15px;
  margin: 0 auto;
}


// шрифты

.main-title {
  @include mudkty-regular;
  font-size: 108px;
  line-height: 65px;
  color: #00B9EE;

  @media (max-width: 1024px) {
    font-size: 80px;
  }

  @media (max-width: 768px) {
    font-size: 50px;
  }
}

.accent-text {
  @include mudkty-regular;
  font-size: 28px;
  line-height: 38px;
  color: #1C283A;

  @media (max-width: 1024px) {
    font-size: 25px;
    line-height: 34px;
  }

  @media (max-width: 768px) {
    font-size: 22px;
    line-height: 30px;
  }
}

.main-subtitle {
  @include mudkty-regular;
  font-size: 45px;
  line-height: 66px;
  color: #1C283A;

  @media (max-width: 768px) {
    font-size: 35px;
    line-height: 48px;
  }
}

.regular-text {
  @include montserrat-regular;
  font-size: 18px;
  line-height: 28px;
  color: #1C283A;
}

.title-text {
  @include montserrat-semibold;
  font-size: 18px;
  line-height: 28px;
  color: #1C283A;
}

.main-link {
  @include mudkty-regular;
  font-size: 22px;
  line-height: 32px;
  color: #000000;

  @media (max-width: 768px) {
    font-size: 18px;
    line-height: 25px;
  }
}


.category-text {
  @include montserrat-regular;
  font-size: 16px;
  line-height: 26px;
  color: #00B7F1;
}

.factage-text {
  @include mudkty-bold;
  font-size: 81px;
  line-height: 157px;
  color: #1C283A;

  @media (max-width: 1024px) {
    font-size: 60px;
    line-height: 120px;

    .accent-text {
      font-size: 20px;
      line-height: 30px;
    }

  }
}


.btn {
  text-transform: uppercase;
  @include mudkty-regular;
  font-size: 22px;
  line-height: 32px;
  text-align: center;
  border: none;
  background: #00B7F1;
  color: #FFFFFF;
  padding: 10px 30px;
  height: 55px;
  border-radius: 100px;
  transition: all .3s;
  cursor: pointer;

  &:hover {
    background: #00C9FF;
  }
}

.swiper-button-disabled {
  cursor: auto !important;
  pointer-events: none !important;
  opacity: 0.55 !important;
}

.lang-switch {
  button {
    cursor: pointer;
    @include mudkty-regular;
    font-size: 23px;
    line-height: 34px;
    color: #000000;
    background: none;
    display: none;
    border: none;

    &.active-lang {
      display: block;
    }
  }

}
