html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 340px;
  overflow-x: hidden;
  font-size: 24px;
  line-height: 35px;
  position: relative;
  @include mudkty-light;
  color: $primary;
  &._lock {
    overflow-y: hidden;
  }
}

main {
  min-height: calc(100vh - 273px);
  @media (max-width: 1024px) {
    min-height: calc(100vh - 266px);
  }
  @media (max-width: 768px) {
    min-height: calc(100vh - 348px);
  }
}



ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}

img {
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

select::-ms-expand {
  display: none;
}

.container {
  max-width: 1664px;
  padding: 0 15px;
  margin: 0 auto;
}

h2.section-title {
  font-size: 45px;
  line-height: 66px;
  font-weight: 300;
  color: $secondary;
}

.btn {
  text-transform: uppercase;
  @include montserrat-bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  border: none;
  background: #00B7F1;
  color: #FFFFFF;
  width: 240px;
  height: 55px;
  border-radius: 100px;
  transition: all .3s;
  cursor: pointer;

  &:hover {
    background: #00C9FF;
  }
}

.swiper-button-disabled {
  cursor: auto !important;
  pointer-events: none !important;
  opacity: 0.55 !important;
}

.lang-switch {
  .choices {
    width: 65px;
    z-index: 999;
  }

  .choices__placeholder {
    opacity: 1;
  }

  .choices__inner {
    border: none;
    @include mudkty-regular;
    font-size: 23px;
    line-height: 34px;
    color: #000000;
    background-color: transparent;
  }

  .choices__list--dropdown .choices__item--selectable, .choices__list[aria-expanded] .choices__item--selectable {
    padding-right: 0;
  }

  .choices__list--single {
    padding: 4px 16px 4px 0;
  }



  .choices__list--dropdown .choices__item--selectable.is-highlighted, .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
    background-color: #F8F8FA;
    color: #00B7F1;
  }

  .choices__list--dropdown, .choices__list[aria-expanded] {
    border: 1px solid #F2F1F7;
    filter: drop-shadow(0px 0px 20px rgba(10, 35, 91, 0.15));
    margin-top: 10px;
    top: 76%;

  }
}
