@import "vars";
@import "fonts";
@import "settings";


.search-overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/search-bg.jpg");
  opacity: 0.95;
  z-index: 998;
  display: none;

  &._active {
    display: block;
  }
}

.site-container {
  position: relative;
  overflow-x: hidden;
  &._disabled {
    overflow-x: visible;
  }
}

// Страницы
@import "pages/home";
@import "./pages/products";
@import "./pages/one-product";
@import "./pages/company";
@import "./pages/blog";
@import "./pages/careers";
@import "./pages/contacts";
@import "./pages/press-kit";
@import "./pages/404";

// Компоненты и медиа
@import "./components/header";
@import "./components/footer";
@import "./components/careers-modals";
@import "media/media-home";
@import "media/media-products";
@import "media/media-one-product";
@import "media/media-company";
@import "media/media-blog";
@import "media/media-careers";
@import "media/media-contacts";
