@import "vars";
@import "fonts";
@import "settings";


.search-overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/search-bg.jpg");
  opacity: 0.95;
  z-index: 998;
  display: none;

  &._active {
    display: block;
  }
}

.site-container {
  position: relative;
  overflow-x: hidden;
}

// Страницы
@import "./pages/company";
@import "./pages/products";
@import "./pages/one-product";

// Компоненты и медиа
@import "./components/header";
@import "./components/footer";
@import "media/media-company";
@import "media/media-products";
@import "media/media-one-product";
